{% extends '::base.html.twig' %}

{% block title %}Resume First Step{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/chosen.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('css/simpletabs.css') }}" rel="stylesheet" type="text/css"/>
<style>
    #tooltip{color:#444;font-size:12px;text-shadow:1px 1px 0 #fff;border:1px solid #666;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background-image:url(../images/th-bg.png);background-repeat:repeat-x;background-position:left top;background-color:#D7D7D7;-moz-box-shadow:0 0 4px #bbb;-webkit-box-shadow:0 0 4px #bbb;box-shadow:0 0 4px #bbb;line-height:1.2em;position:absolute;z-index:100000;display:none;padding:5px}
</style>
{% endblock %}

{% block body %}
<section id="student-01">
    <div class="wrapper">
        <h1>FOR STUDENTS<div></div></h1>

        <div class="simpleTabs">
            <ul class="simpleTabsNavigation">
                <li><a class="current">Step 1</a></li>
                <li><a>Step 2</a></li>
                <li><a>Step 3</a></li>
                <li><a>Step 4</a></li>
            </ul>

            <div class="simpleTabsContent" style="display: block;">
                {% if app.session.hasFlash('notice') %}
                <span class="alert fail">
                {{ app.session.flash('notice') | raw }}
                </span>
                {% endif %}
                {% if app.session.hasFlash('success') %}
                <span class="alert success">
                {{ app.session.flash('success') | raw }}
                </span>
                {% endif %}
                {% if app.session.hasFlash('error') %}
                <span class="alert error">
                {{ app.session.flash('error') | raw }}
                </span>
                {% endif %}
                {% if form_errors(form) %}
                <span class="alert error">
                {{ form_errors(form) }}
                </span>
                {% endif %}
                <!--form Name-->
                <h1>{%if formName%}{{formName}}{%endif%} <strong>{%if formName%}{{formName1}}{%endif%}</strong>:</h1>
                <!--form Desc-->
                <p class="formDesc">{%if formDesc%}{{formDesc}}{%endif%}</p>

                <form action="{{ path('signup_cv') }}" method="post" {{ form_enctype(form) }}>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="160" class="top"><label>Resume Title: <span style="margin-left: 10px;"><img class="tooltip" title="Use a creative title for your resume" src="{{asset('js/tooltip/tooltip.png')}}"></span></label></td>
                            <td>{{ form_widget(form.name) }}{% if form_errors(form.name) %}<span style="margin-left: 10px;"><img class="tooltip" title="Required Field" src="{{asset('js/tooltip/required.png')}}"></span><span class="triangle-border left">{{ form_errors(form.name) }}</span>{% endif %}<br/></td>
                        </tr>
                        <tr>
                            <td width="160" class="top"><label>Objectives: <span style="margin-left: 10px;"><img class="tooltip" title="Consider two factors as you set the objectives for your internship: 1) What is your basic goal for taking on the internship? 2) •    Define what has to happen during the internship for you to know that you have fulfilled your basic goal?" src="{{asset('js/tooltip/tooltip.png')}}"></span></label></td>
                            <td>{{ form_widget(form.objective) }}{% if form_errors(form.objective) %}<span style="margin-left: 10px;"><img class="tooltip" title="Required Field" src="{{asset('js/tooltip/required.png')}}"></span><span class="triangle-border left">{{ form_errors(form.objective) }}</span>{% endif %}<br/>
                            Examples of Objectives Include: <br>
							<em>To Learn the primary skills of financial industry<br>
							To clarify the primary responsibilities of a film producer<br>
							To understand the education background of being a programmer at an internet start-up</em>
                            </td>
                        </tr>
                        <tr>
                            <td width="160" class="top"><label>I Am Interested In Interning in…:</label></td>
                            <td>{{ form_widget(form.categories) }}{% if form_errors(form.categories) %}<span style="margin-left: 10px;"><img class="tooltip" title="Required Field" src="{{asset('js/tooltip/required.png')}}"></span><span class="triangle-border left">{{ form_errors(form.categories) }}</span>{% endif %}<br/></td>
                        </tr>
                    </table>

                    {{ form_rest(form) }}

                    <button style="float: right; margin-top: 20px;" class="submit" type="submit" title="{% trans %}Next{% endtrans %}">{% trans %}Next{% endtrans %}</button>
                    <div class="clear"></div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/libs/chosen.jquery.min.js') }}" type="text/javascript"></script>
<script src="{{asset('js/tooltip/tooltip.js')}}"></script>
<script>
    $(document).ready(function() {
        $('.chzn-select').chosen();
        var stuTitleBar = $('#main .wrapper').width();
        $('#student-01 > .wrapper h1 div').width(stuTitleBar-202);
    });
</script>
{% endblock %}
