{% extends '::base.html.twig' %}
{% block title %}{% trans %}Change Password{% endtrans %}{% endblock %}

{% block body %}
<section id="student-01">
<div class="wrapper">

<div class="login">
<div class="grayCont">

<fieldset>
    <legend>Change Password</legend>
{% if form_errors(form) %}
    <span class="alert">
{{ form_errors(form) }}
</span>
{% endif %}
<form action="{{ path('change_password', {'confirmationCode': user.confirmationCode, 'email': user.email}) }}" method="post" {{ form_enctype(form) }}>

    <label>{% trans %}Password{% endtrans %}:</label>
    {{ form_widget(form.userPassword.Password) }}
    {% if form_errors(form.userPassword) %}
                <span class="triangle-border left">{{ form_errors(form.userPassword) }}</span>
                {% endif %}
    <br>
    

    <label>{% trans %}RePassword{% endtrans %}:</label>
    {{ form_widget(form.userPassword.RePassword) }}<br>

    {{ form_rest(form) }}

    <div class="submit">
        <button type="submit" class="submit" title="{% trans %}Submit{% endtrans %}">Submit</button>
</div>
</form>
         </fieldset>
</div>
</div>

</div>
</section>
{% endblock %}