{% extends '::base.html.twig' %}
{% block title %}{% trans %}Edit My Account{% endtrans %}{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/jquery-ui-1.8.24.custom.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('css/chosen.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('css/stuEdu.css') }}" rel="stylesheet" type="text/css"/>
<style>
    #tooltip{color:#444;font-size:12px;text-shadow:1px 1px 0 #fff;border:1px solid #666;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background-repeat:repeat-x;background-position:left top;background-color:#D7D7D7;-moz-box-shadow:0 0 4px #bbb;-webkit-box-shadow:0 0 4px #bbb;box-shadow:0 0 4px #bbb;line-height:1.2em;position:absolute;z-index:100000;display:none;padding:5px}
</style>
{% endblock %}

{% block body %}

<section id="student-01">
    <div class="wrapper">
        <!--Form Name-->
        <h1>{%if formName%}{{formName}}{%endif%}<div></div></h1>

        <div class="studentEduBgBlock">
            <div id="loading">
                <img src="{{ asset('img/followLoader.gif') }}" alt="loader">
            </div>
            <div class="yellowCont">

                {% if form_errors(form) %}
                <span class="alert error">
                {{ form_errors(form) }}
                </span>
                {% endif %}
                <!--form Desc-->
                <p class="formDesc">{%if formDesc%}{{formDesc}}{%endif%}</p>
                <form action="{{ path('user_edit') }}" method="post" {{ form_enctype(form) }}>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        {% if oldPassword %}
                            <tr>
                                <td width="160"><label>{% trans %}Old Password{% endtrans %}:</label></td>
                                <td>{{ form_widget(form.oldPassword) }}<span class="miniError">{{ form_errors(form.oldPassword) }}</span></td>
                                <td width="75">&nbsp;</td>

                                <td width="160"></td>
                            <td></td>
                        {% endif %}
                        {% if changeUserName %}
                            <tr>
                                <td width="160"><label>{% trans %}Username{% endtrans %}:</label></td>
                                <td>{{ form_widget(form.loginName) }}<span style="margin-left: 10px;"><img class="tooltip" title="Required Field" src="{{asset('js/tooltip/required.png')}}"></span><span class="miniError">{{ form_errors(form.loginName) }}</span></td>
                                <td width="75">&nbsp;</td>

                                <td width="160"></td>
                            <td></td>
                        {% endif %}

                        <tr>
                            <td width="160"><label>{% trans %}First Name{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.firstName) }}<span style="margin-left: 10px;"><img class="tooltip" title="Required Field" src="{{asset('js/tooltip/required.png')}}"></span><span class="miniError">{{ form_errors(form.firstName) }}</span></td>
                            <td width="75">&nbsp;</td>

                            <td><label>{% trans %}Last Name{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.lastName) }}<span style="margin-left: 10px;"><img class="tooltip" title="Required Field" src="{{asset('js/tooltip/required.png')}}"></span><span class="miniError">{{ form_errors(form.lastName) }}</span></td>

                        <tr>
                            <td width="160"><label>{% trans %}New Password{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.userPassword.Password) }}<span class="miniError">{{ form_errors(form.userPassword) }}</span></td>
                            <td width="75">&nbsp;</td>

                            <td><label>{% trans %}Enter New Password Again{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.userPassword.RePassword) }}</td>
                        </tr>

                        <tr>
                            <td width="160"><label>{% trans %}Gender{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.gender) }}<span style="margin-left: 10px;"><img class="tooltip" title="Required Field" src="{{asset('js/tooltip/required.png')}}"></span><span class="miniError">{{ form_errors(form.gender) }}</span></td>
                            <td width="75">&nbsp;</td>

                            <td width="160"><label>{% trans %}Date Of Birth{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.dateOfBirth) }}<span class="miniError">{{ form_errors(form.dateOfBirth) }}</span></td>
                        </tr>

                        <tr>

                            <td width="160"><label>{% trans %}Address{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.address) }}<span style="margin-left: 10px;"><img class="tooltip" title="Required Field" src="{{asset('js/tooltip/required.png')}}"></span><span class="miniError">{{ form_errors(form.address) }}</span></td>

                            <td width="75">&nbsp;</td>

                            <td width="160"><label>{% trans %}City{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.city) }}<span style="margin-left: 10px;"><img class="tooltip" title="Required Field" src="{{asset('js/tooltip/required.png')}}"></span><span class="miniError">{{ form_errors(form.city) }}</span></td>
                        </tr>

                        <tr>
                            <td width="160"><label>{% trans %}State{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.state) }}<span style="margin-left: 10px;"><img class="tooltip" title="Required Field" src="{{asset('js/tooltip/required.png')}}"></span><span class="miniError">{{ form_errors(form.state) }}</span></td>
                            <td width="75">&nbsp;</td>


                            <td width="160"><label>{% trans %}Country{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.country) }}<span style="margin-left: 10px;"><img class="tooltip" title="Required Field" src="{{asset('js/tooltip/required.png')}}"></span><span class="miniError">{{ form_errors(form.country) }}</span></td>
                        </tr>

                        <tr>
                            <td width="160"><label>{% trans %}ZipCode{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.zipcode) }}<span class="miniError">{{ form_errors(form.zipcode) }}</span></td>
                            <td width="75">&nbsp;</td>

                            <td width="160"><label>{% trans %}Your Website{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.url) }}<span class="miniError">{{ form_errors(form.url) }}</span></td>
                        </tr>

                        <tr>
                            <td><label>{% trans %}About You{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.about) }}<span class="miniError">{{ form_errors(form.about) }}</span></td>
                            <td width="75">&nbsp;</td>

                            <td><label>{% trans %}Your Image{% endtrans %}:</label></td>
                            <td class="userImg">
                                {{ form_errors(form.file) }}
                                <span class="file-wrapper">
                                    {{ form_widget(form.file) }}
                                    <span class="button">Browse</span>
                                </span>
                                    {% if user.image %}
                                <img id="yourImage" src="{{user.getTimThumbUrl(65,60)}}" style="border: none;" width="65" height="60"/>
                                {% else %}
                                <img id="yourImage" src="#" style="border: none;" width="65" height="60"/>
                                {% endif %}
                            </td>

                        </tr>

                        <tr>
                            <td width="160"><label>{% trans %}Email{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.email) }}<span class="miniError">{{ form_errors(form.email) }}</span></td>
                            <td width="75">&nbsp;</td>

                            <td width="160"></td>
                            <td></td>
                        </tr>

                    </table>

                    {{ form_rest(form) }}

                    <button class="nxt" type="submit" title="{% trans %}Update{% endtrans %}">{% trans %}Update{% endtrans %}</button>
                    <div class="clear"></div>
                </form>

<h2>Connect with your social network account for faster and easy login to InternJump</h2>
<span>Employers will not have access nor view any of your social network information.</span>
<br><br>
                    {% if socialAccounts and socialAccounts.isFacebookLinked() %}
<a href="{{ path('social_unlink', {'social': 'facebook'}) }}" title="{% trans %}unlink facebook{% endtrans %}">{% trans %}Disconnect from your Facebook account{% endtrans %}</a><br><br>
{% else %}
{% render "ObjectsAPIBundle:Facebook:facebookButton" with {'facebookUserHandleRoute' : 'facebook_link','permissions': 'email,publish_stream','cssClass' : 'face' , 'linkText' : 'Connect with your Facebook account' | trans} %}<br><br>
{% endif %}

{% if socialAccounts and socialAccounts.isLinkedInLinked() %}
<a href="{{ path('social_unlink', {'social': 'linkedin'}) }}" title="{% trans %}unlink linkedin{% endtrans %}">{% trans %}Disconnect from your Linkedin account{% endtrans %}</a><br/><br/>
{% else %}
<a class="linkedin" onclick="newWindow = window.open('{{ path('linkedInButton', {'callbackUrl': 'linkedin_link','popup' : 'yes'}) }}', '{% trans %}LinkedIn Link{% endtrans %}', 'height=400, width=600');if(window.focus)newWindow.focus();return false;" target="_blank" title="{% trans %}LinkedIn Link{% endtrans %}" href="{{ path('linkedInButton', {'callbackUrl': 'linkedin_link'}) }}">{% trans %}Connect with your LinkedIN Account{% endtrans %}</a><br/><br/>
{% endif %}

{% if socialAccounts and socialAccounts.isTwitterLinked() %}
<a href="{{ path('social_unlink', {'social': 'twitter'}) }}" title="{% trans %}unlink twitter{% endtrans %}">{% trans %}Disconnect from your Twitter account{% endtrans %}</a>
{% else %}
<a class="twitter" onclick="javascript:startTwitterLink();return false;" target="_blank" title="{% trans %}Twitter Link{% endtrans %}" href="{{ path('twitter_authentication', {'redirectRoute': 'twitter_link'}) }}">{% trans %}Connect with your Twitter Account{% endtrans %}</a>
{% endif %}

            </div>
        </div>
    </div>
</section>




{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/libs/chosen.jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/libs/jquery-ui-1.8.24.custom.min.js') }}" type="text/javascript"></script>
<script>

    function startTwitterLink(){
        newwindow = window.open("{{ path('twitter_authentication', {'redirectRoute': 'twitter_link', 'popup': 'yes'}) }}", '', 'height=200,width=200');
        if (window.focus) {
            newwindow.focus();
        }
    }

    var userCountry = '{{ user.getCountry }}';
     var userState = '{{ user.state }}';

    setInterval(function(){
        //Loader Script
        $('#loading').width($('#loading').parent().width());
        $('#loading').height($('#loading').parent().height());
    }, 500);
    var countrySelectsUrl = '{{ path('get_countey_cities_states', {'countryId': ''}) }}/';
    var countriesUrl = '{{ path('get_all_countries') }}';
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#yourImage').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    var cityAutoCompleteUrl = "{{ path('city_auto_complete') }}";
    $(document).ready(function() {
        $('.dateOfBirth').datepicker({changeYear: true, yearRange : 'c-30:c+30', dateFormat: 'yy-mm-dd', maxDate: '-12 y', minDate: '-120y'});
        $('select.chzn-select').chosen();
        var stuTitleBar = $('#main .wrapper').width();
        $('#student-01 > .wrapper h1 div').width(stuTitleBar-202);
    });
</script>
<script src="{{ asset('bundles/objectsuser/js/address_selects.js') }}"></script>
<script src="{{asset('js/tooltip/tooltip.js')}}"></script>
{% endblock %}
