{% extends '::base.html.twig' %}
{% block title %}{% trans %}Forgot Password{% endtrans %}{% endblock %}

{% block body %}
<section id="student-01">
<div class="wrapper">

<div class="login">
<div class="grayCont">

<fieldset>
    <legend>Student forgot password</legend>
    
    
    
{% if error %}
<span class="alert">
{{ error }}
</span>
{% endif %}
{% if success %}
<span class="alert sucs">
{{ success }}
</span>
{% endif %}
{% if form_errors(form) %}
    <span class="alert">
{{ form_errors(form) }}
</span>
{% endif %}
    
<form action="{{ path('forgot_password') }}" method="post" {{ form_enctype(form) }}>

    <label>{% trans %}Email{% endtrans %}:</label>
    {{ form_widget(form.email) }}
    {% if form_errors(form.email) %}
                <span class="triangle-border left">{{ form_errors(form.email) }}</span>
                {% endif %}

    {{ form_rest(form) }}

    <div class="submit">
        <button type="submit" class="submit" title="{% trans %}Login{% endtrans %}">Submit</button>
    <a href="{{path('company_forgot_password')}}" class="forgotPassword">Employer forgot password</a>
</div>
</form>
    
    </fieldset>
</div>
</div>

</div>
</section>
{% endblock %}