{% extends '::base.html.twig' %}

{% block title %}Signup Second Step{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/jquery-ui-1.8.24.custom.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('css/chosen.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('css/stuEdu.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
<section id="student-01">
    <div class="wrapper">
        <h1>FOR STUDENTS<div></div></h1>

        <div class="studentEduBgBlock">
            <div id="loading">
                <img src="{{ asset('img/followLoader.gif') }}" alt="loader">
            </div>
            <div class="yellowCont">
                {% if app.session.hasFlash('notice') %}
                <span class="alert fail">
                {{ app.session.flash('notice') | raw }}
                </span>
                {% endif %}
                {% if app.session.hasFlash('success') %}
                <span class="alert success">
                {{ app.session.flash('success') | raw }}
                </span>
                {% endif %}
                {% if app.session.hasFlash('error') %}
                <span class="alert error">
                {{ app.session.flash('error') | raw }}
                </span>
                {% endif %}
                {% if form_errors(form) %}
                <span class="alert error">
                {{ form_errors(form) }}
                </span>
                {% endif %}
                <!--form Name-->
                <h1>{%if formName%}{{formName}}{%endif%}:</h1>
                <!--form Desc-->
                <p class="formDesc">{%if formDesc%}{{formDesc}}{%endif%}</p>

                <form class="formTable" action="{{ path('user_signup_second_step') }}" method="post" {{ form_enctype(form) }}>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="160"><label>{% trans %}First Name{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.firstName) }}<span class="miniError">{{ form_errors(form.firstName) }}</span></td>
                            <td width="75">&nbsp;</td>

                            <td><label>{% trans %}Last Name{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.lastName) }}<span class="miniError">{{ form_errors(form.lastName) }}</span></td>
                        </tr>

                        <tr>
                            <td width="160"><label>{% trans %}Gender{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.gender) }}<span class="miniError">{{ form_errors(form.gender) }}</span></td>
                            <td width="75">&nbsp;</td>

                            <td width="160"><label>{% trans %}Date Of Birth{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.dateOfBirth) }}<span class="miniError">{{ form_errors(form.dateOfBirth) }}</span></td>
                        </tr>

                        <tr>
                            <td width="160"><label>{% trans %}Country{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.country) }}<span class="miniError">{{ form_errors(form.country) }}</span></td>
                            <td width="75">&nbsp;</td>

                            <td width="160"><label>{% trans %}City{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.city) }}<span class="miniError">{{ form_errors(form.city) }}</span></td>
                        </tr>

                        <tr>
                            <td width="160"><label>{% trans %}State{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.state) }}<span class="miniError">{{ form_errors(form.state) }}</span></td>
                            <td width="75">&nbsp;</td>

                            <td width="160"><label>{% trans %}Address{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.address) }}<span class="miniError">{{ form_errors(form.address) }}</span></td>
                        </tr>

                        <tr>
                            <td width="160"><label>{% trans %}ZipCode{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.zipcode) }}<span class="miniError">{{ form_errors(form.zipcode) }}</span></td>
                            <td width="75">&nbsp;</td>

                            <td width="160"><label>{% trans %}URL{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.url) }}<span class="miniError">{{ form_errors(form.url) }}</span></td>
                        </tr>

                        <tr>
                            <td><label>{% trans %}About You{% endtrans %}:</label></td>
                            <td>{{ form_widget(form.about) }}<span class="miniError">{{ form_errors(form.about) }}</span></td>
                            <td width="75">&nbsp;</td>

                            {{ form_errors(form.file) }}
                            <td><label>{% trans %}Your Image{% endtrans %}:</label></td>
                            <td class="userImg">
                                <span class="file-wrapper">
                                    {{ form_widget(form.file) }}
                                    <span class="button">Browse</span>
                                </span>
                                    {% if user.image %}
                                <img id="yourImage" src="{{user.getTimThumbUrl(65,60)}}" style="border: none;" width="65" height="60"/>
                                {% else %}
                                <img id="yourImage" src="#" style="border: none;" width="65" height="60"/>
                                {% endif %}
                            </td>

                        </tr>

                    </table>

                    {{ form_rest(form) }}

                    <button class="nxt" type="submit" title="{% trans %}Next{% endtrans %}">{% trans %}Next{% endtrans %}</button>
                    <div class="clear"></div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/libs/chosen.jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/libs/jquery-ui-1.8.24.custom.min.js') }}" type="text/javascript"></script>
<script>
    var userCountry = '{{ user.getCountry }}';
    setInterval(function(){
        //Loader Script
        $('#loading').width($('#loading').parent().width());
        $('#loading').height($('#loading').parent().height());
    }, 500);
    var countrySelectsUrl = '{{ path('get_countey_cities_states', {'countryId': ''}) }}/';
    var countriesUrl = '{{ path('get_all_countries') }}';
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#yourImage').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    var cityAutoCompleteUrl = "{{ path('city_auto_complete') }}";
    $(document).ready(function() {
        $('.dateOfBirth').datepicker({changeYear: true, dateFormat: 'yy-mm-dd', maxDate: '-12y', minDate: '-52y'});
        $('select.chzn-select').chosen();
        var stuTitleBar = $('#main .wrapper').width();
        $('#student-01 > .wrapper h1 div').width(stuTitleBar-202);
    });
</script>
<script src="{{ asset('bundles/objectsuser/js/address_selects.js') }}"></script>
{% endblock %}