{% extends '::base.html.twig' %}

{% block title %}{% trans %}Sign up{% endtrans %}{% endblock %}

{% block pageTitle %}Signup Up{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
    #tooltip{color:#444;font-size:12px;text-shadow:1px 1px 0 #fff;border:1px solid #666;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background-repeat:repeat-x;background-position:left top;background-color:#D7D7D7;-moz-box-shadow:0 0 4px #bbb;-webkit-box-shadow:0 0 4px #bbb;box-shadow:0 0 4px #bbb;line-height:1.2em;position:absolute;z-index:100000;display:none;padding:5px}
</style>
{% endblock %}

{% block body %}

        {% if message %}
        <div class="alert">
            <button data-dismiss="alert" class="close" type="button"> &times; </button>
            {{ message }}
        </div>
        {% endif %}

        {% if form_errors(form) %}
        <div class="alert alert-error">
            <button data-dismiss="alert" class="close" type="button"> &times; </button>
            {{ form_errors(form) }}
        </div>
        {% endif %}

        <div class="container Main-content">

            <div class="Student">

                <h2>{% if formName %}{{ formName }}{% endif %}</h2>
                <h4>{% if formDesc %}{{ formDesc }}{% endif %}</h4>
                <div class="row-fluid show-grid">

                    <div class="span6">
                        <div class="Sign-Up">

                            <form id="stuEdu" action="{{ path('user_signup') }}" method="post" {{ form_enctype(form) }}>
                                <fieldset>
                                    <legend></legend>
                                    <div class="controls">
                                        <label>Your Name</label>
                                        {{ form_widget(form.name, {'attr': {'class': 'span12'} }) }}

                                        {% if form_errors(form.name) %}
                                        <div class="alert alert-error">
                                            <button type="button" class="close" data-dismiss="alert"> × </button>
                                            {{ form_errors(form.name) }}
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% if loginNameRequired %}
                                    <div class="controls">
                                        <label>Login Name</label>
                                        {{ form_widget(form.loginName, {'attr': {'class': 'span12'} }) }}

                                        <span style="display: inline-block;margin-bottom: 13px;">
                                            <img style="opacity: 1;" class="tooltip" title="Required Field" src="{{ asset('js/tooltip/required.png') }}" />
                                        </span>

                                        <div id="loginName-error">
                                            {{ app.session.flash('notice') | raw }}
                                        </div>

                                        {% if form_errors(form.loginName) %}
                                        <div class="alert alert-error">
                                            <button type="button" class="close" data-dismiss="alert"> × </button>
                                            {{ form_errors(form.loginName) }}
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                    <div class="controls">
                                        <label>E-mail</label>
                                        {{ form_widget(form.email, {'attr': {'class': 'span12'} }) }}

                                        <span style="display: inline-block;margin-bottom: 13px;">
                                            <img style="opacity: 1;" class="tooltip" title="Required Field" src="{{ asset('js/tooltip/required.png') }}" />
                                        </span>

                                        <div id="mailcheck-message">
                                            {{ app.session.flash('notice') | raw }}
                                        </div>

                                        {% if form_errors(form.email) %}
                                        <div class="alert alert-error">
                                            <button type="button" class="close" data-dismiss="alert"> × </button>
                                            {{ form_errors(form.email) }}
                                        </div>
                                        {% endif %}
                                    </div>

                                    <div class="controls row-fluid show-grid">
                                        <div class="span6">
                                            <label>Password</label>
                                            {{ form_widget(form.userPassword.Password, {'attr': {'class': 'span12'} }) }}
                                        </div>
                                        <div class="span6">
                                            <label>Confirm Password</label>
                                            {{ form_widget(form.userPassword.RePassword, {'attr': {'class': 'span12'} }) }}

                                            <span style="display: inline-block;margin-bottom: 13px;">
                                                <img style="opacity: 1;" class="tooltip" title="Required Field" src="{{ asset('js/tooltip/required.png') }}" />
                                            </span>
                                        </div>

                                        {% if form_errors(form.userPassword) %}
                                        <div class="alert alert-error">
                                            <button type="button" class="close" data-dismiss="alert"> × </button>
                                            {{ form_errors(form.userPassword) }}
                                        </div>
                                        {% endif %}
                                    </div>
                                    {{ form_rest(form) }}
                                    <button type="submit" class="btn btn-danger btn-large pull-right">Sign Up</button>
                                </fieldset>
                            </form>
                        </div><!--Sign-Up-->
                    </div>

                    <div class="span6">
                        <div class="Social-sign-up">
                            <ul class="Social-icons">
                                <li>Sign Up with</li>
                                <li>{% render "ObjectsAPIBundle:Facebook:facebookButton" with {'facebookUserHandleRoute' : 'facebook_logging','permissions': 'email,publish_stream,user_birthday,user_about_me,user_education_history,user_work_history,user_location,user_hometown','cssClass' : 'ico-facebook' , 'linkText' : ''} %}</li>
                                <li><a class="ico-google" onclick="newWindow = window.open('{{ path('linkedInButton', {'callbackUrl': 'linkedIn_user_data','popup' : 'yes'}) }}', '{% trans %}LinkedIn Sign up{% endtrans %}', 'height=400, width=600');if(window.focus)newWindow.focus();return false;" target="_blank" title="{% trans %}LinkedIn Sign up{% endtrans %}" href="{{ path('linkedInButton', {'callbackUrl': 'linkedIn_user_data'}) }}"></a></li>
                                <li><a class="ico-twitter" onclick="newWindow = window.open('{{ path('twitter_authentication', {'redirectRoute': 'twitter_enter', 'popup': 'yes'}) }}', '{% trans %}Twitter Sign up{% endtrans %}', 'height=200, width=200');if(window.focus)newWindow.focus();return false;" target="_blank" title="{% trans %}Twitter Sign up{% endtrans %}" href="{{ path('twitter_authentication', {'redirectRoute': 'twitter_enter'}) }}"></a></li>
                            </ul>
                            <br />
                            <strong>For employers <a href="{{ path('company_signup') }}"> Sign up here</a> </strong>
                        </div>
                    </div>

                </div><!--Sign-Up-->

            </div><!---Student --->
        </div><!--container-->
{% endblock %}

{% block javascripts %}
{{parent()}}
<script>
    var loginNameError = "{% trans %}Username can only have letters, number and hypen.{% endtrans %}";
    var loginNameNotExist = "{% trans %}Available{% endtrans %}";
    var loginNameExist = "{% trans %}Already taken.{% endtrans %}";
    var mailcheckMessage = "{% trans %}Did you mean{% endtrans %}";
    var loginNameCheckUrl = "{{url('login_name_check',{'loginName' : ''})}}";
    var countryCitiesStatesUrl = '{{url('get_countey_cities_states',{'countryId' : ''})}}';
</script>
<script src="{{asset('bundles/objectsuser/js/xregexp-all.js')}}"></script>
<script src="{{asset('bundles/objectsuser/js/mailcheck.js')}}"></script>
<script src="{{asset('bundles/objectsuser/js/signUp.js')}}"></script>
<script src="{{asset('js/tooltip/tooltip.js')}}"></script>
{% endblock %}
