{% extends '::base.html.twig' %}

{% block pageTitle %}Manage Interns{% endblock %}

{%block body%}

<div class="container Main-content">


        <div class="company-form Manage-Interns">
        	<h2>Interns

                    <div class="Select-a btn-group pull-right">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Designers
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                        <!-- dropdown menu links -->
                          <li><a href="">list1</a></li>
                          <li><a href="">list2</a></li>
                          <li><a href="">list3</a></li>
                        </ul>
                    </div><!--btn-group-->

            </h2>



           <div class="User-Interns">


            <div class="row-fluid  show-grid">
            <ul class="thumbnails">
              <li class="span4">
                <div class="thumbnail">
                  <div class="caption">
                    <div class="media">
              <a href="#" class="pull-left">
                <img data-src="holder.js/64x64" class="media-object" alt="64x64" style="width: 64px; height: 64px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABWUlEQVR4nO2VMY7CMBBFuf9RfAMfwL17t67nCkM1aHBIASF5QvziSbtLGD0/T7Q3M/N/5kYL0CgALUCjALQAjQLQAjQKQAvQKAAtQKMAtACNAtACNApAC9AoAC1AowC0AI0C0AI0CkAL0HwlQCnlQe998/kYY/ezK2eeEqDW6q01NzNvrXkpxeecm2fekT1j5ikB5pxeSvExxu4zvfeNbHwvDtl7fxzy05lIgFjDkFnF82FW2bhZM3uKcWTm5QHi5kJiXddY5ZBeZfN7/q2ZyAbEDeXfX631KhuHy38/OvPSAOv7mmXzCmdi1eO78Vzc8JGZlwfIK5lvdC9Uvq1aq9daNz8fmYkEMHt+l9d/V69kY5XXW86HeXcmGuCXUQBagEYBaAEaBaAFaBSAFqBRAFqARgFoARoFoAVoFIAWoFEAWoBGAWgBGgWgBWgUgBagUQBagEYBaAGaO387LYipKEKVAAAAAElFTkSuQmCC">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Ali mohamed alaa</h4>
				Designer
                </div> <hr/>

                Tasks

                <span class="badge pull-right badge-info">8</span>
            </div>
                   <p></p>
                    <p><a class="btn btn-inverse btn-mini" href="#myModal" role="button"  data-toggle="modal"><i class=" icon-white icon-envelope"></i> Message</a>
                    <a class="btn btn-inverse btn-mini" href="#"><i class=" icon-white icon-plus-sign"></i> Add Task</a>
                     </p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <div class="caption">
                    <div class="media">
              <a href="#" class="pull-left">
                <img data-src="holder.js/64x64" class="media-object" alt="64x64" style="width: 64px; height: 64px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABWUlEQVR4nO2VMY7CMBBFuf9RfAMfwL17t67nCkM1aHBIASF5QvziSbtLGD0/T7Q3M/N/5kYL0CgALUCjALQAjQLQAjQKQAvQKAAtQKMAtACNAtACNApAC9AoAC1AowC0AI0C0AI0CkAL0HwlQCnlQe998/kYY/ezK2eeEqDW6q01NzNvrXkpxeecm2fekT1j5ikB5pxeSvExxu4zvfeNbHwvDtl7fxzy05lIgFjDkFnF82FW2bhZM3uKcWTm5QHi5kJiXddY5ZBeZfN7/q2ZyAbEDeXfX631KhuHy38/OvPSAOv7mmXzCmdi1eO78Vzc8JGZlwfIK5lvdC9Uvq1aq9daNz8fmYkEMHt+l9d/V69kY5XXW86HeXcmGuCXUQBagEYBaAEaBaAFaBSAFqBRAFqARgFoARoFoAVoFIAWoFEAWoBGAWgBGgWgBWgUgBagUQBagEYBaAGaO387LYipKEKVAAAAAElFTkSuQmCC">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Ali mohamed alaa</h4>
				Designer
                </div> <hr/>

                Tasks

                <span class="badge pull-right badge-info">8</span>
            </div>
                   <p></p>
                    <p><a class="btn btn-inverse btn-mini" href="#"><i class=" icon-white icon-envelope"></i> Message</a>
                    <a class="btn btn-inverse btn-mini" href="#"><i class=" icon-white icon-plus-sign"></i> Add Task</a>
                     </p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <div class="caption">
                    <div class="media">
              <a href="#" class="pull-left">
                <img data-src="holder.js/64x64" class="media-object" alt="64x64" style="width: 64px; height: 64px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABWUlEQVR4nO2VMY7CMBBFuf9RfAMfwL17t67nCkM1aHBIASF5QvziSbtLGD0/T7Q3M/N/5kYL0CgALUCjALQAjQLQAjQKQAvQKAAtQKMAtACNAtACNApAC9AoAC1AowC0AI0C0AI0CkAL0HwlQCnlQe998/kYY/ezK2eeEqDW6q01NzNvrXkpxeecm2fekT1j5ikB5pxeSvExxu4zvfeNbHwvDtl7fxzy05lIgFjDkFnF82FW2bhZM3uKcWTm5QHi5kJiXddY5ZBeZfN7/q2ZyAbEDeXfX631KhuHy38/OvPSAOv7mmXzCmdi1eO78Vzc8JGZlwfIK5lvdC9Uvq1aq9daNz8fmYkEMHt+l9d/V69kY5XXW86HeXcmGuCXUQBagEYBaAEaBaAFaBSAFqBRAFqARgFoARoFoAVoFIAWoFEAWoBGAWgBGgWgBWgUgBagUQBagEYBaAGaO387LYipKEKVAAAAAElFTkSuQmCC">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Ali mohamed alaa</h4>
				Designer
                </div> <hr/>

                Tasks

                <span class="badge pull-right badge-info">8</span>
            </div>
                   <p></p>
                    <p><a class="btn btn-inverse btn-mini" href="#"><i class=" icon-white icon-envelope"></i> Message</a>
                    <a class="btn btn-inverse btn-mini" href="#"><i class=" icon-white icon-plus-sign"></i> Add Task</a>
                     </p>
                  </div>
                </div>
              </li>

              <li class="span4">
                <div class="thumbnail">
                  <div class="caption">
                    <div class="media">
              <a href="#" class="pull-left">
                <img data-src="holder.js/64x64" class="media-object" alt="64x64" style="width: 64px; height: 64px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABWUlEQVR4nO2VMY7CMBBFuf9RfAMfwL17t67nCkM1aHBIASF5QvziSbtLGD0/T7Q3M/N/5kYL0CgALUCjALQAjQLQAjQKQAvQKAAtQKMAtACNAtACNApAC9AoAC1AowC0AI0C0AI0CkAL0HwlQCnlQe998/kYY/ezK2eeEqDW6q01NzNvrXkpxeecm2fekT1j5ikB5pxeSvExxu4zvfeNbHwvDtl7fxzy05lIgFjDkFnF82FW2bhZM3uKcWTm5QHi5kJiXddY5ZBeZfN7/q2ZyAbEDeXfX631KhuHy38/OvPSAOv7mmXzCmdi1eO78Vzc8JGZlwfIK5lvdC9Uvq1aq9daNz8fmYkEMHt+l9d/V69kY5XXW86HeXcmGuCXUQBagEYBaAEaBaAFaBSAFqBRAFqARgFoARoFoAVoFIAWoFEAWoBGAWgBGgWgBWgUgBagUQBagEYBaAGaO387LYipKEKVAAAAAElFTkSuQmCC">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Ali mohamed alaa</h4>
				Designer
                </div> <hr/>

                Tasks

                <span class="badge pull-right badge-info">8</span>
            </div>
                   <p></p>
                    <p><a class="btn btn-inverse btn-mini" href="#"><i class=" icon-white icon-envelope"></i> Message</a>
                    <a class="btn btn-inverse btn-mini" href="#"><i class=" icon-white icon-plus-sign"></i> Add Task</a>
                     </p>
                  </div>
                </div>
              </li>

              <li class="span4">
                <div class="thumbnail">
                  <div class="caption">
                    <div class="media">
              <a href="#" class="pull-left">
                <img data-src="holder.js/64x64" class="media-object" alt="64x64" style="width: 64px; height: 64px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABWUlEQVR4nO2VMY7CMBBFuf9RfAMfwL17t67nCkM1aHBIASF5QvziSbtLGD0/T7Q3M/N/5kYL0CgALUCjALQAjQLQAjQKQAvQKAAtQKMAtACNAtACNApAC9AoAC1AowC0AI0C0AI0CkAL0HwlQCnlQe998/kYY/ezK2eeEqDW6q01NzNvrXkpxeecm2fekT1j5ikB5pxeSvExxu4zvfeNbHwvDtl7fxzy05lIgFjDkFnF82FW2bhZM3uKcWTm5QHi5kJiXddY5ZBeZfN7/q2ZyAbEDeXfX631KhuHy38/OvPSAOv7mmXzCmdi1eO78Vzc8JGZlwfIK5lvdC9Uvq1aq9daNz8fmYkEMHt+l9d/V69kY5XXW86HeXcmGuCXUQBagEYBaAEaBaAFaBSAFqBRAFqARgFoARoFoAVoFIAWoFEAWoBGAWgBGgWgBWgUgBagUQBagEYBaAGaO387LYipKEKVAAAAAElFTkSuQmCC">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Ali mohamed alaa</h4>
				Designer
                </div> <hr/>

                Tasks

                <span class="badge pull-right badge-info">8</span>
            </div>
                   <p></p>
                    <p><a class="btn btn-inverse btn-mini" href="#"><i class=" icon-white icon-envelope"></i> Message</a>
                    <a class="btn btn-inverse btn-mini" href="#"><i class=" icon-white icon-plus-sign"></i> Add Task</a>
                     </p>
                  </div>
                </div>
              </li>

            </ul>
          </div>

					<div class="pagination pagination-centered">
                      <ul>
                         <li><a href="#" class="disabled">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&laquo;</a></li>
                     </ul>
                    </div> <!--pagination-centered--->


           </div><!--User-Interns-->

         


   			<div class="Tasks">
            	<h2>Tasks</h2>

                <div class="Tasks-Content">
                		<a href="javascript:void(0);"  class="btn btn-info add-task-btn">Add Task</a><br/><br/>

                		<a href=""  class="btn btn-danger">Delete</a>


                        <div class="btn-group pull-right">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            Per page
                            <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                            	<li><a href="">List</a></li>
                            <!-- dropdown menu links -->
                            </ul>
                        </div>




                        <div class="btn-group pull-right">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            page
                            <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                            	<li><a href="">List</a></li>
                            <!-- dropdown menu links -->
                            </ul>
                        </div>


                         <div class="btn-group pull-right">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                             All tasks
                            <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                            	<li><a href="">List</a></li>
                            <!-- dropdown menu links -->
                            </ul>
                        </div>


                       <div class="clearfix"></div>


					<table width="100%" border="0" class="table tasks-table">
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                      </tr>
                      <tr class="info" >
                        <td width="700">Task two</td>
                        <td>13 Jun 2013</td>
                        <td><span class="label label-warning pull-right"> Inprograsse</span></td>
                      </tr>
                      <tr>
                        <td width="700">Task two</td>
                        <td>13 Jun 2013</td>
                        <td><span class="label label-success">Completed</span></td>
                      </tr>
                     <tr>
                        <td width="700">Task two</td>
                        <td>13 Jun 2013</td>
                        <td><span class="label label-info">New</span></td>
                      </tr>
                     <tr>
                        <td width="700">Task two</td>
                        <td>13 Jun 2013</td>
                        <td><span class="label label-info">New</span></td>
                      </tr>
                    </table>

                    <div class="pagination pagination-centered">
                      <ul>
                         <li><a href="#" class="disabled">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&laquo;</a></li>
                     </ul>
                    </div>

                </div><!--Tasks-Content--->




            </div><!--Tasks-->

      </div><!--Manage-Interns-->

</div><!--container-->


<h1>Task list</h1>

<table class="records_list" border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Startedat</th>
            <th>Endedat</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('company_task_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.title }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.status }}</td>
           {# <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>#}
            <td>{% if entity.startedAt %}{{ entity.startedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.endedAt %}{{ entity.endedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('company_task_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('company_task_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('task_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

    <ul>
                                {% if lastPageNumber > 1 %}
                    {% if page > 1 %}
                                                <li><a href="{{ url('company_task') }}">&raquo;&raquo;</a></li>
                                                <li><a href="{{ url('company_task',{'page': page - 1}) }}">&raquo;</a></li>
                    {% endif %}



        {% for numberOfPage in 1..lastPageNumber %}
        {% if numberOfPage > page - 3 and numberOfPage < page + 3 %}
                                {% if page == numberOfPage %}<li class="crnt"><a href="javascript:void(0)">{{ numberOfPage }}</a></li>{% else %}<li><a href="{{ url('company_task',{ 'page': numberOfPage}) }}" >{{ numberOfPage }}</a></li>{%endif%}
        {% endif %}
        {% endfor %}



                    {% if page < lastPageNumber %}
                                                <li><a href="{{ url('company_task',{'page': page + 1}) }}" >&laquo;</a></li>
                                                <li><a href="{{ url('company_task',{'page': lastPageNumber}) }}" >&laquo;&laquo;</a></li>
{% endif %}
                {% endif %}
                                            </ul>





<hr>
{%if companyUsers%}
<br />
<div>
<h2>CompanyIterns</h2>
{%for cu in companyUsers%}
{{cu.internship.title}} -- {{cu.user.id}} --<a href="{{path('company_user_task', { 'userName': cu.user.loginname })}}">{{cu.user.loginname}}</a><br />
{%endfor%}
{%endif%}
</div>

{%endblock%}