<div class="input select rating-a" id="meterPage" >
    <h3>Profile Completeness:<a href="javascript:void(0)" class="detailsLink">show details</a></h3>


                <div class="meterWrapper">
                    <span class="progressBar" style="width:{{percent}}%;"> {{percent}}% Completed </span>
                </div>

                <div class="moredetails">
                <p class="crntPercent"><span> {{percent}} % </span><b>Your Profile is starting to look good!<br /> Complete your profile so you can get noticed by companies and receive more targeted internship matches. </b></p>
                <ul class="tips">
                {%if cvsFlag%}
                    <li> <a href="{{path('cv_new')}}"><b><u>Create a new</u></b></a> Resume Or if you already have Resume, Activate it <span>20%</span> </li>
                {%endif%}

                {%if fNameFlag or lNameFlag or dobFlag or urlFlag or aboutFlag %}
                    <li> Complete your <a href="{{path('user_edit')}}"><u><b>Profile</b></u></a> {#Data,({%if fNameFlag%}firstName{%endif%}{%if lNameFlag%}, lastName{%endif%}{%if aboutFlag%}, about{%endif%}{%if dobFlag%}, date of birth{%endif%}{%if urlFlag%}, url{%endif%})#} <span>20%</span></li>
                {%endif%}

                {%if eduFlag%}
                    <li> <a href="{{path('education_new')}}"><b><u>Add Educations</u></b></a> to your Resume <span>10%</span></li>
                {%endif%}

                {%if expFlag%}
                    <li> <a href="{{path('employmenthistory_new')}}"><b><u>Add Employment</u></b></a> History to your Resume <span>10%</span></li>
                {%endif%}

                {%if skilFlag%}
                    <li> <a href={{path('addEditUserSkills')}}><u><b>Add Skills to your Resume </b></u></a><span>10%</span></li>
                {%endif%}

                {%if quizFlag%}
                    <li> Complete your  <a href="{{path('internjumb_quiz')}}"><u><b>"InternJump Personality"</b></u></a> Quiz <span>10%</span></li>
                {%endif%}

                {%if personalQuestionFlag%}
                    <li> Complete your  <a href="{{path('personal_questions')}}"><u><b>"Personal Question"</b></u></a> Quiz <span>10%</span></li>
                {%endif%}
                    
                {%if cvDescFlag%}
                    <li> Describe yourself at  {%for cv in cvNamesArray%}<a href="{{path('cv_edit',{'id' : cv.id})}}"><b><u>{{cv.name}}</u> </b></a>{%endfor%} Resume(s) <span>10%</span></li>
                {%endif%}
                    
                {%if allSocial==""%}
                    {%if linked or facebook or twitter%}
                        <li><a href="{{path('user_edit')}}"><u><b>Link your Profile</b></u></a> to your  
                    
                    {%if linked%}
                            LinkedIn <span> 3%</span>
                    {%endif%}
                    {%if facebook%}
                            Facebook <span> 3%</span>
                    {%endif%}
                    {%if twitter%}
                            Twitter <span> 3%</span>
                    {%endif%}
                        </li>
                    {%endif%}
                {%else%}
                    <li><a href="{{path('user_edit')}}"><u><b>Link your Profile</b></u></a> to your social accounts <span> 9%</span></li>
                {%endif%}
                    
                </ul>
                </div>

</div>

{#
                    {{cvsFlag}}<br />
                    {{eduFlag}}<br />
                    {{expFlag}}<br />
                    {{skilFlag}}<br />
                    {{quizFlag}}<br />
#}

