{% extends '::base.html.twig' %}

    {% block stylesheets %}
{{parent()}}

{% endblock %}
{% block pageTitle %}Show Task{% endblock %}
{% block subcatego %}
    <div class="container">
        <ul class="unstyled">
            <li id="userHome"><a href="{{path('student_task',{'loginName' : app.user.loginName})}}">Profile Page</a></li>
            <li id="jobSearch"><a href="{{ path('user_search_page') }}">Internship Search</a></li>
            <li id="newEducation"><a href="{{ path('education_new') }}">Education</a></li>
            <li id="newLanguage"><a href="{{ path('user_languages') }}">Language</a></li>
            <li id="newEmploymentHistory"><a href="{{ path('employmenthistory_new') }}">Employment History</a></li>
            <li id="userSkills"><a href="{{ path('addEditUserSkills') }}" title="Your Skills">Skills</a></li>
            <li id="personalQuestion"><a href="{{ path('personal_questions') }}" title="Personal Questions">Personal Questions</a></li>
            {% if not app.user.score %}
                <li><a href="{{path('internjumb_quiz')}}">InternJump Personality Quiz</a></li>
            {% endif %}
       </ul>
   </div><!--container-->
{% endblock %}

{%block body%}

<div class="container Main-content">


   			<div class="Tasks">
            	<h2>{{ entity.title }}</h2>

                <div class="Tasks-Content">

                    <div class="perPage select-box pull-right">
                        <select class="status">
                            <option value="new">new</option>
                            <option value="inprogress">inprogress</option>
                            <option value="done">done</option>
                        </select>
                    </div>
<a href="{{path('student_task', {'loginName': user.loginName})}}"><button class="button btn btn-info" >Back</button></a>
                       <div class="clearfix"></div>

                           <table width="100%" border="0" class="table table-bordered one-task-table noteDiv">
                              <tr>
                                <th scope="row"> From</th>
                                <td>{{entity.company.name}}

                                <span class="label {% if entity.status == 'new' %}label-info{% elseif entity.status == 'inprogress' %}label-warning{% else %}label-success{% endif %} pull-right"> {{entity.status}}</span>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">to</th>
                                <td>{{entity.user.loginName}}</td>
                              </tr>
                              <tr>
                                <th scope="row">Start</th>
                                <td>{{ entity.startedAt|date('Y-m-d H:i:s') }}</td>
                              </tr>
                              <tr>
                                <th scope="row">End</th>
                                <td>{{ entity.endedAt|date('Y-m-d H:i:s') }}</td>
                              </tr>
                              <tr>
                                <th scope="row">Task</th>
                                <td>
                                <!--<a class="btn btn-small pull-right" href="#"><i class="icon-pencil"></i> Edit</a>-->

                               {{ entity.description }}

</td>
                              </tr>
                              {%if notes%}
                                {%for note in notes%}

                              <tr class="warning">

                                <th  class="warning" scope="row">{% if note.type == 0%}{{entity.user.loginname}}{% elseif note.type == 1 %}{{entity.company.name}}{%endif%}: At {{note.createdAt|date('Y-m-d H:i a')}}</th>
                                <td>

                                  <div class="{{note.id}}note">{{note.note}}</div>
                                   {%if (note.type ==0 and is_granted('ROLE_USER') ) or (note.type ==1 and is_granted('ROLE_COMPANY') ) %}
                                    <a href=" javascript:void(0)" noteid="{{note.id}}" class="editNoteAjax ediTask btn btn-small pull-right"><i class="icon-pencil"></i>Edit</a>{%endif%}
                                  <div class="edittaskNote" style=" display: none;">
                                      <textarea style="width: 652px;" class="noteText" value="{{note.note}}" noteId="{{note.id}}">{{note.note}}</textarea>
                                      <input type="button" value="Done" class="editNoteButton" >
                                  </div>
                                </td>

                              </tr>

                                {% endfor %}
                              {% endif %}

                            </table>

<div class="addNote">
{#<textarea name="" cols="" rows=""></textarea>#}
<button class="button addNoteAjax btn btn-warning">Add Note</button>
<div class="taskNote">
    <textarea type="text" class="noteText1"></textarea>
    <input type="button" value="Add" class="addNoteButton">
</div>
                </div><!--Tasks-Content--->
                      </div><!--Tasks-->
                      </div><!--containter-->





{#
<section class="singleTask">
<h1>{{ entity.title }}</h1>
<div>
<span class="case">Task Case<span id="taskstatus" class="{% if entity.status == 'new' %}new{% elseif entity.status == 'inprogress' %}inprog{% else %}done{% endif %}"></span>
<select class="status">
  <option>new</option>
  <option>inprogress</option>
  <option>done</option>
</select>
</span>
<span class="clear"></span>

<label>From : <span>{{entity.company.name}}</span></label>
<label>To : <span>{{entity.user.loginName}}</span></label>
<label>Start : <span>{{ entity.startedAt|date('Y-m-d H:i:s') }}</span></label>
<label>End :  <span>{{ entity.endedAt|date('Y-m-d H:i:s') }}</span></label>

<div class="txt">
{{ entity.description }}
</div>

<!--Notes part -->
<div class="noteDivParent">
<div class="noteDiv">
{%if notes%}
    {%for note in notes%}
<div class="reply">
    {% if note.type == 0%}<span class="name">{{entity.user.loginname}}</span>{% elseif note.type == 1 %}<span class="name">{{entity.company.name}}</span>{%endif%}:
    <span class="date">{{note.createdAt|date('Y-m-d H:i a')}}</span>
    <div class="clear"></div>
    <div class="{{note.id}}note"><article>{{note.note}}</article></div>
    {%if (note.type ==0 and is_granted('ROLE_USER') ) or (note.type ==1 and is_granted('ROLE_COMPANY') ) %}
    <a href=" javascript:void(0)" noteid="{{note.id}}" class="editNoteAjax ediTask">Edit Note</a>{%endif%}
    <div class="edittaskNote" style=" display: none;">
            <textarea style="width: 652px;" class="noteText" value="{{note.note}}" noteId="{{note.id}}">{{note.note}}</textarea>
            <input type="button" value="Edit" class="editNoteButton" >
    </div>
</div>

<! --<a class="ediTask" href="#">Edit Note</a> -->
{%endfor%}
{%endif%}
</div>
<div class="addNote">
<!-- <textarea name="" cols="" rows=""></textarea> -->
<button class="button addNoteAjax">Add Note</button>
<div class="taskNote">
    <textarea type="text" class="noteText1"></textarea>
    <input type="button" value="Add" class="addNoteButton">
</div>
</div>



</div>

</div>
</section>
#}
{%endblock%}


{%block javascripts%}
{{parent()}}

<script>
    $(document).ready(function(){
     //   $(".chzn-select").chosen();
    });
var taskId= '{{entity.id}}';
var userId = '{{entity.user.id}}';
var name = '{{entity.user.loginname}}'
var addNoteUrl = '{{url('add_note',{'text' : '','taskId' : ''})}}';
var editNoteUrl = '{{url('edit_note',{'text' : '' ,'taskId' : '','noteId' : ''})}}';
var changeStatusUrl= '{{url('change_status',{'taskId' : '','status' : ''})}}';
var taskStatus= '{{entity.status}}';
</script>
<script src="{{asset('bundles/objectsinternjump/js/note.js')}}"></script>

{%endblock%}