{% extends '::base.html.twig' %}

{% block title %}Signup Third Step{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/jquery-ui-1.8.24.custom.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('css/chosen.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('css/stuEdu.css') }}" rel="stylesheet" type="text/css"/>
<style>
    #tooltip{color:#444;font-size:12px;text-shadow:1px 1px 0 #fff;border:1px solid #666;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background-image:url(../images/th-bg.png);background-repeat:repeat-x;background-position:left top;background-color:#D7D7D7;-moz-box-shadow:0 0 4px #bbb;-webkit-box-shadow:0 0 4px #bbb;box-shadow:0 0 4px #bbb;line-height:1.2em;position:absolute;z-index:100000;display:none;padding:5px}
</style>
{% endblock %}

{% block body %}
<section id="student-01">
    <div class="wrapper">
        <h1>FOR STUDENTS<div></div></h1>

        <div class="studentEduBgBlock">
            <div class="yellowCont">
                {% if formName %}
                <!--form Name-->
                <h1>{{ formName }}</h1>
                {% endif %}

                {% if formDesc %}
                <!--form Desc-->
                <p class="formDesc">{{ formDesc }}</p>
                {% endif %}

                <div class="btns">
                    Click "<strong>+</strong>" to add another language / "<strong>-</strong>" to remove last added language&nbsp;&nbsp;&nbsp;
                    <input type="button" id="btnAdd" value="+" />
                    <input disabled="disabled" type="button" id="btnDel" value="-" />
                </div>
                {% if app.session.hasFlash('notice') %}
                <span class="alert fail">
                {{ app.session.flash('notice') | raw }}
                </span>
                {% endif %}
                {% if app.session.hasFlash('success') %}
                <span class="alert success">
                {{ app.session.flash('success') | raw }}
                </span>
                {% endif %}
                {% if app.session.hasFlash('error') %}
                <span class="alert error">
                {{ app.session.flash('error') | raw }}
                </span>
                {% endif %}
                {% if form_errors(form) %}
                <span class="alert error">
                {{ form_errors(form) }}
                </span>
                {% endif %}

                <form class="formTable" action="{{ path('signup_language') }}" method="post" {{ form_enctype(form) }}>
                    <div id="formsContainer">
                        {% for userLanguage in form.languages %}
                        <div style="margin-bottom:4px;" class="clonedInput">
                            {% if not loop.first %}
                            <a class="subDelete" href="javascript:void(0);" onclick="deleteSubForm(this);">-</a>
                            {% endif %}
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="190"><label>Language :</label></td>
                                    <td>{{ form_widget(userLanguage.language) }}<span style="margin-left: 10px;"><img class="tooltip" title="Required Field" src="{{asset('js/tooltip/required.png')}}"></span><span class="miniError">{{ form_errors(userLanguage.language) }}</span></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Spoken :</td>
                                    <td>{{ form_widget(userLanguage.spokenFluency) }}<span style="margin-left: 10px;"><img class="tooltip" title="Required Field" src="{{asset('js/tooltip/required.png')}}"></span><span class="miniError">{{ form_errors(userLanguage.spokenFluency) }}</span></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td><label>Written :</label></td>
                                    <td>{{ form_widget(userLanguage.writtenFluency) }}<span style="margin-left: 10px;"><img class="tooltip" title="Required Field" src="{{asset('js/tooltip/required.png')}}"></span><span class="miniError">{{ form_errors(userLanguage.writtenFluency) }}</span></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td><label>Read :</label></td>
                                    <td>{{ form_widget(userLanguage.readFluency) }}<span style="margin-left: 10px;"><img class="tooltip" title="Required Field" src="{{asset('js/tooltip/required.png')}}"></span><span class="miniError">{{ form_errors(userLanguage.readFluency) }}</span></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                        {% endfor %}
                    </div>

                    {{ form_rest(form) }}

                    <button class="nxt" type="submit" title="{% trans %}Next{% endtrans %}">{% trans %}Next{% endtrans %}</button>
                    <a class="bak" style="float: right;" href="{{ path('signup_cv') }}">Skip</a>
                    <div class="clear"></div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
{% set formElementHTML %}
{% spaceless %}
<div style="margin-bottom:4px;" class="clonedInput">
    <a class="subDelete" href="javascript:void(0);" onclick="deleteSubForm(this);">-</a>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="190"><label>Language :</label></td>
            <td>{{ form_widget(form.languages.vars.prototype.language) }}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td width="190">Spoken :</td>
            <td>{{ form_widget(form.languages.vars.prototype.spokenFluency) }}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td width="190"><label>Written :</label></td>
            <td>{{ form_widget(form.languages.vars.prototype.writtenFluency) }}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td width="190"><label>Read :</label></td>
            <td>{{ form_widget(form.languages.vars.prototype.readFluency) }}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
{% endspaceless %}
{% endset %}
<script src="{{ asset('js/libs/jquery-ui-1.8.24.custom.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/libs/chosen.jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/libs/jquery.livequery.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/tooltip/tooltip.js') }}"></script>
<script>
    var formElementHTML = '{{ formElementHTML | escape('js') }}';
    function deleteSubForm(currentElement) {
        $(currentElement).parent().remove();
    }
    $(document).ready(function() {
        $('.chzn-select').livequery(function() {
            $(this).chosen();
        });
        $('#btnAdd').click(function() {
            var tempHtml = formElementHTML;
            var subFormNumbers = [];
            $('[name^="form[languages]"]').each(function(){
                subFormNumber = parseInt($(this).attr('name').match(/\d+/)[0]);
                if($.inArray(subFormNumber, subFormNumbers) == -1) {
                    subFormNumbers.push(subFormNumber);
                }
            });
            $('#formsContainer').append(tempHtml.replace(/\$\$name\$\$/g, (subFormNumbers.sort().pop() + 1)));
            $('#btnDel').removeAttr('disabled');
        });
        $('#btnDel').click(function() {
            if($('#formsContainer').children().length == 2) {
                $('#btnDel').attr('disabled','disabled');
            }
            $('#formsContainer').children().last().remove();
        });
        var stuTitleBar = $('#main .wrapper').width();
        $('#student-01 > .wrapper h1 div').width(stuTitleBar-202);
    });
</script>
{% endblock %}
