{% extends '::base.html.twig' %}
{% block title %}{{user}} interest{% endblock %}

{% block body %}

<div id="main" role="main">

    <section id="comJobList">
        <div class="wrapper">

            <aside class="copmanyInfo">
                    <h1>Interested company</h1>
                    <div class="infoBlock">
                        <div class="logo">
                            <img src="{{company.getTimThumbUrl(105,120)}}" width="105" height="120">
                        </div>
                        <div class="info">
                            <label>Company:</label>
                            <span>{{company}}</span>
                            <br>
                            {% if company.url %}
                            <label>Website:</label>
                            <span>
                                <a href="{{company.url}}">{{company.url}}</a>
                            </span>
                            <br>
                            {% endif %}
                            <label>Country:</label>
                            <span>{{company.getCountryName()}}</span>
                            <br>
                            <label>City:</label>
                            <span>{{company.city}}</span>
                            <br>
                            {% if company.state %}
                            <label>State:</label>
                            <span>{{company.state}}</span>
                            <br>
                            {% endif %}
                            <label>Address:</label>
                            <span>{{company.address}}</span>
                            <br>
                        </div>

                            <!--
                        <p>
                            Provide students with access to companies which they would not find in their typical job search. Internjump works with small to midsized companies which do not have the resources to reach out to college campuses. By promoting internjump you will be giving your students access to opportunities they might never have learned about in their internship search process.
                        </p>
-->

                        <div class="clear"></div>
                    </div>
                </aside>
            
            <section class="comntSection fullWidth">

                <aside class="addEdiTask">
                    <h1>Interest Details</h1>
                    <div class="intDetails">
                        <span><strong>Valide to : </strong> 
                        {{interest.validTo|date('j F Y')}}
                        </span>
                            <span><strong>Interested cv : </strong> 
                                <a href="{{path('user_portal_home',{'loginName' : user.loginName, 'cvId': cv.id})}}">{{cv.name}}</a>
                        </span>
                            {% if interest.accepted != 'pending' %}
                            <span><strong>Interest status : </strong> 
                        {{interest.accepted}}
                        </span>
                            {% endif %}
                    </div>

                    {% if interest.accepted == 'pending' %}
                    <button class="bak" id="rejected">Reject</button>
                    <button class="submit" id="accepted">Accept</button>
                    {% endif %}
                    
                    <div class="clear"></div>

                </aside>

                


            </section>
            <div class="clear"></div>
        </div>
    </section>


</div>

{% endblock %}


{% block javascripts %}
{{parent()}}
<script>
  
$(document).ready(function(){
    //interest accept/reject
    $('#accepted,#rejected').click(function(){
        thisLink = $(this);
        var linkId = thisLink.attr('id');
        //hide the buttons
        $('#accepted,#rejected').hide();
        //show the loading image
        $('.loading').show();
        $.ajax({
            url: "{{path('user_accept_reject_interest',{'interestId' : interest.id, 'status' : ''})}}"+"/"+linkId,
            success: function(msg) {
                if(msg == 'done'){
                 $('#interestStatus').text(linkId);   
                 $('#interestMessage').text('the interest was updated successfully'); 
                }    
            },
            complete: function(msg) {
                location.reload();
            }
        });
    });

});

    </script>
{% endblock %}
