<div class="page-title">
    <div class="container">
        <h1 class="pull-left">notifications</h1>


        <ul class="manage-list pull-right">
            <li><a class="Notifi  active" href="{{path('User_notification')}}"></a>
                {% if allUserNotificationsCount > 0 %}
                <span class="noti-num">{{allUserNotificationsCount}}</span>
                {% endif %}
            </li>
            <li><a class="Messag" href="{{ path('user_box', {'box': 'inbox'}) }}"></a>
                {% if newMessagesCount > 0 %}
                <span class="noti-num">{{newMessagesCount}}</span>
                {% endif %}
            </li>
            <li><a class="Sitt" href="{{path('user_edit')}}"></a></li>
        </ul>

    </div><!--container--->
</div>