<link href="{{ asset('css/chosen.css') }}" rel="stylesheet" type="text/css"/>

<script src="{{ asset('js/libs/chosen.jquery.min.js') }}"></script>

<script>
  $(document).ready(function(){
      $(".chzn-select").chosen();
  });  
</script>    

{% if allUserCvs|length > 0%}
<div class="ask4Interview selectCV">
    <div class="wrapper">
        <h1>Select your CV.</h1>
        <form>
            <label>Select</label><br>
            <select class="chzn-select" id="userCvs" style="width: 250px;">
                {% for cv in allUserCvs %}
                    <option value="{{cv.id}}">{{cv.name}}</option>
                {% endfor %}
            </select>
            <button id="userCvSubmit" type="button" class="submit">Confirm</button>
            <button id="userCvCancle" type="button" class="back">Cancel</button>
            <img src="{{asset('img/loadingfacebox.gif')}}" id="userAddJobImg" style="display: none;float: right;"/>
            <div class="clearfix"></div>
        </form>

    </div>
</div>

    
{% else %}
    <div class="ask4Interview selectCV">
        <div class="wrapper">
            <h1>Select you CV.</h1>
            <form>
                <label>{{user_does_not_have_cv_message}}</label>
            </form>

        </div>
    </div>
{% endif %}
