{% extends '::base.html.twig' %}
{% block title %}{% trans %}Change Password{% endtrans %}{% endblock %}

{% block body %}

<section id="student-01">
<div class="wrapper">

<div class="login">
<div class="grayCont">

<fieldset>
    <legend>Forgot password</legend>
    
{% if form_errors(form) %}
    <div>{{ form_errors(form) }}</div>
{% endif %}
<form action="{{ path('company_change_password', {'confirmationCode': company.confirmationCode, 'email': company.email}) }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form.userPassword) }}<br>
    <label>{% trans %}Password{% endtrans %}:</label>
    {{ form_widget(form.userPassword.Password) }}<br>

    <label>{% trans %}RePassword{% endtrans %}:</label>
    {{ form_widget(form.userPassword.RePassword) }}<br>

    {{ form_rest(form) }}

    <div class="submit">
    <button type="submit">Submit</button>
</div>
    
</form>
    
    </fieldset>
</div>
</div>

</div>
</section>
{% endblock %}