{% extends '::base.html.twig' %}
{% block title %}{{company}} notifications{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/chosen.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}

<section id="msgsBox">
    <div class="wrapper">

        <div class="inboxBlock empNotfs">
            <div id="loading"><img src="{{asset('img/followLoader.gif')}}" width="35" height="35"></div>
            <!--Inbox Wrapper-->
            <h1>Notifications</h1>

            <div class="simpleTabsContent">
                {% if unreadNotifications|length > 0 and type == 'all' %}
                    <button type="submit" class="markAllUnreadNotification">Mark all as read</button>
                {% endif %}

                    <div class="perPage">
                        <span>Per page :</span>
                        <select  class="chzn-select" style="width: 65px !important;" tabindex="2" name="company_notifications_per_page_{{ company.id }}" onchange="setCookie('company_notifications_per_page_{{ company.id }}', this.value, 86391359);document.location.reload(true);">
                        {% for perPageNumber in 10 .. 100 %}
                            {% if perPageNumber is divisibleby(10) %}
                                <option{% if itemsPerPage == perPageNumber %} selected="selected"{% endif %} value="{{ perPageNumber }}">{{ perPageNumber }}</option>
                            {% endif %}
                        {% endfor %}
                            </select>
                        </div>

                        <div class="perPage">
                            <span>Page :</span>
                            <select class="chzn-select" style="width: 65px !important;" tabindex="2" onchange="window.location = '{{ path('company_notification', {'type': type,'page' : ''}) }}/' + this.value;">
                        {% for pageNumber in 1 .. lastPageNumber %}
                                    <option{% if page == pageNumber %} selected="selected"{% endif %} value="{{ pageNumber }}">{{ pageNumber }}</option>
                        {% endfor %}
                                </select>
                            </div>

                            <div class="perPage">
                                <span>Filter By :</span>
                                <select  class="chzn-select" tabindex="2" style="width: 150px !important;" onchange="window.location = '{{ path('company_notification', {'type': '','page' : ''}) }}' + this.value + '/' + {{page}};">
                                    <option {% if type == 'all' %}selected="selected"{% endif %} value="all">Show all</option>
                                    <option {% if type == 'user_answer_question' %}selected="user_answer_question"{% endif %} value="user_answer_question">Question answer</option>
                                    <option {% if type == 'user_job_apply' %}selected="user_job_apply"{% endif %} value="user_job_apply">Job apply</option>
                                    <option {% if type == 'user_accept_job' %}selected="user_accept_job"{% endif %} value="user_accept_job">Offer accepted</option>
                                    <option {% if type == 'user_reject_job' %}selected="user_reject_job"{% endif %} value="user_reject_job">Offer declined</option>
                                    <option {% if type == 'user_accept_interest' %}selected="user_accept_interest"{% endif %} value="user_accept_interest">Interest accepted</option>
                                    <option {% if type == 'user_reject_interest' %}selected="user_reject_interest"{% endif %} value="user_reject_interest">Interest declined</option>
                                    <option {% if type == 'user_accept_interview' %}selected="user_accept_interview"{% endif %} value="user_accept_interview">Interview accepted</option>
                                    <option {% if type == 'user_reject_interview' %}selected="user_reject_interview"{% endif %} value="user_reject_interview">Interview declined</option>
                                    <option {% if type == 'user_edit_task' %}selected="user_edit_task"{% endif %} value="user_edit_task">Update task</option>
                                    <option {% if type == 'user_add_note' %}selected="user_add_note"{% endif %} value="user_add_note">Add task note</option>
                                    <option {% if type == 'user_edit_note' %}selected="user_edit_note"{% endif %} value="user_edit_note">Edit task note</option>
                                </select>
                            </div>

                    <div class="clearfix"></div>

                            <div class="notfsWrapper">
                    {% for notification in companyNotifications %}
                        {% if notification.type == 'user_answer_question' %}
                                    <div class="singleRow {% if notification.isNew %}active{% endif %}" notificationId='{{notification.id}}' notificationPage='{{path('question_show',{'questionId' : notification.typeId})}}'>
                                        <span class="icon answer"></span>
                                        <span class="from">{{notification.user}}</span>
                                        <span>answered the question</span>
                                        <span class="date">{{notification.createdAt|date('j F, Y')}}</span>
                                    </div>
                        {% elseif notification.type == 'user_job_apply' %}
                                    <div class="singleRow {% if notification.isNew %}active{% endif %}" notificationId='{{notification.id}}' notificationPage='{{path('internship_show',{'id' : notification.typeId})}}'>
                                        <span class="icon applyjob"></span>
                                        <span class="from">{{notification.user}}</span>
                                        <span>has applied to your job</span>
                                        <span class="date">{{notification.createdAt|date('j F, Y')}}</span>
                                    </div>
                        {% elseif notification.type == 'user_accept_job' %}
                                    <div class="singleRow {% if notification.isNew %}active{% endif %}" notificationId='{{notification.id}}' notificationPage='{{path('internship_show',{'id' : notification.typeId})}}'>
                                        <span class="icon acceptjob"></span>
                                        <span class="from">{{notification.user}}</span>
                                        <span>has accepted your offer</span>
                                        <span class="date">{{notification.createdAt|date('j F, Y')}}</span>
                                    </div>
                        {% elseif notification.type == 'user_reject_job' %}
                                    <div class="singleRow {% if notification.isNew %}active{% endif %}" notificationId='{{notification.id}}' notificationPage='{{path('internship_show',{'id' : notification.typeId})}}'>
                                        <span class="icon rejectjob"></span>
                                        <span class="from">{{notification.user}}</span>
                                        <span>has declined your offer</span>
                                        <span class="date">{{notification.createdAt|date('j F, Y')}}</span>
                                    </div>
                        {% elseif notification.type == 'user_accept_interest' %}
                                    <div class="singleRow {% if notification.isNew %}active{% endif %}" notificationId='{{notification.id}}' notificationPage='{{path('company_see_user_data',{'userLoginName' : notification.user.loginName,'cvId' : notification.typeId})}}'>
                                        <span class="icon acceptInterest"></span>
                                        <span class="from">{{notification.user}}</span>
                                        <span>has accepted your interest</span>
                                        <span class="date">{{notification.createdAt|date('j F, Y')}}</span>
                                    </div>
                        {% elseif notification.type == 'user_reject_interest' %}
                                    <div class="singleRow {% if notification.isNew %}active{% endif %}" notificationId='{{notification.id}}' notificationPage='{{path('company_see_user_data',{'userLoginName' : notification.user.loginName,'cvId' : notification.typeId})}}'>
                                        <span class="icon rejectInterest"></span>
                                        <span class="from">{{notification.user}}</span>
                                        <span>has declined your interest</span>
                                        <span class="date">{{notification.createdAt|date('j F, Y')}}</span>
                                    </div>
                        {% elseif notification.type == 'user_accept_interview' %}
                                    <div class="singleRow {% if notification.isNew %}active{% endif %}" notificationId='{{notification.id}}' notificationPage='{{path('interview_show',{'interviewId' : notification.typeId})}}'>
                                        <span class="icon acceptInteview"></span>
                                        <span class="from">{{notification.user}}</span>
                                        <span>has accepted your interview</span>
                                        <span class="date">{{notification.createdAt|date('j F, Y')}}</span>
                                    </div>
                        {% elseif notification.type == 'user_reject_interview' %}
                                    <div class="singleRow {% if notification.isNew %}active{% endif %}" notificationId='{{notification.id}}' notificationPage='{{path('interview_show',{'interviewId' : notification.typeId})}}'>
                                        <span class="icon rejectInteview"></span>
                                        <span class="from">{{notification.user}}</span>
                                        <span>has declined your interview</span>
                                        <span class="date">{{notification.createdAt|date('j F, Y')}}</span>
                                    </div>
                        {% elseif notification.type == 'user_edit_task' %}
                                    <div class="singleRow {% if notification.isNew %}active{% endif %}" notificationId='{{notification.id}}' notificationPage='{{path('company_task_show',{'id' : notification.typeId})}}'>
                                        <span class="icon updaTask"></span>
                                        <span class="from">{{notification.user}}</span>
                                        <span>has updated their assigned task</span>
                                        <span class="date">{{notification.createdAt|date('j F, Y')}}</span>
                                    </div>
                        {% elseif notification.type == 'user_add_note' %}
                                    <div class="singleRow {% if notification.isNew %}active{% endif %}" notificationId='{{notification.id}}' notificationPage='{{path('company_task_show',{'id' : notification.typeId})}}'>
                                        <span class="icon ediTask"></span>
                                        <span class="from">{{notification.user}}</span>
                                        <span>has added a note to assigned task</span>
                                        <span class="date">{{notification.createdAt|date('j F, Y')}}</span>
                                    </div>
                        {% elseif notification.type == 'user_edit_note' %}
                                    <div class="singleRow {% if notification.isNew %}active{% endif %}" notificationId='{{notification.id}}' notificationPage='{{path('company_task_show',{'id' : notification.typeId})}}'>
                                        <span class="icon ediTask"></span>
                                        <span class="from">{{notification.user}}</span>
                                        <span>has updated a note to assigned task</span>
                                        <span class="date">{{notification.createdAt|date('j F, Y')}}</span>
                                    </div>
                        {% endif %}
                    {% else %}
                                    You do not have notifications
                    {% endfor %}


                                </div>

                                <ul class="pging">
                    {% if lastPageNumber > 1 %}
                    {% if page > 1 %}
                                        <li><a href="{{ url('company_notification',{'type' : type }) }}" class="right">&laquo;&laquo;</a></li>
                                        <li><a href="{{ url('company_notification', { 'type' : type,'page': page - 1}) }}" class="right">&laquo;</a></li>
                    {% endif %}

        {% for numberOfPage in 1..lastPageNumber %}
        {% if numberOfPage > page - 3 and numberOfPage < page + 3 %}
                                {% if page == numberOfPage %}<li class="crnt">{{ numberOfPage }}</li>{% else %}<li><a href="{{ url('company_notification', {'type' : type,'page': numberOfPage}) }}">{{ numberOfPage }}</a></li>{%endif%}
        {% endif %}
        {% endfor %}


                    {% if page < lastPageNumber %}
                                        <li><a href="{{ url('company_notification', { 'type' : type,'page': page + 1}) }}" class="left">&raquo;</a></li>
                                        <li><a href="{{ url('company_notification', {'type' : type,'page': lastPageNumber}) }}" class="left">&raquo;&raquo;</a></li>
{% endif %}
                {% endif %}
                                    </ul>

                                </div>


                            </div>
                        </div>
                    </section>
{% endblock %}


{% block javascripts %}
{{parent()}}
                    <script>

                    var notficationMarkUrl = '{{path('company_notification_mardAs_read',{'notificationId': ''})}}';
                    var notficationMarkAllUrl = '{{path('company_markAll_notifications_asRead')}}';

                        </script>
                        <script src="{{ asset('js/cookies.js') }}" type="text/javascript"></script>
                        <script src="{{ asset('js/libs/chosen.jquery.min.js') }}"></script>
                        <script src="{{asset('bundles/objectsinternjump/js/companyNotifications.js')}}"></script>
{% endblock %}
