{% extends '::base.html.twig' %}
{% block title %}{% trans %}Forgot Password{% endtrans %}{% endblock %}

{% block body %}
<section id="student-01">
<div class="wrapper">

<div class="login">
<div class="grayCont">

<fieldset>
    <legend>Employer forgot password</legend>
    
{% if error %}
<span class="alert">
{{ error }}
</span>
{% endif %}
{% if success %}
<span class="alert">
{{ success }}
</span>
{% endif %}
{% if form_errors(form) %}
    <span class="alert">
{{ form_errors(form) }}
</span>
{% endif %}
    
<form action="{{ path('company_forgot_password') }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form.email) }}<br>
    <label>{% trans %}Email{% endtrans %}:</label>
    {{ form_widget(form.email) }}

    {{ form_rest(form) }}

    <div class="submit">
        <button class="submit" type="submit" title="{% trans %}Login{% endtrans %}">Submit</button>
        <a href="{{path('forgot_password')}}" class="forgotPassword">Student forgot password</a>
</div>
</form>
    
    </fieldset>
</div>
</div>

</div>
</section>
{% endblock %}