{% extends '::base.html.twig' %}
{% block title %}Company listing by industry{% endblock %}

{% block body %}
                <section id="comJobList">
                    <div class="wrapper">
                        <aside class="copmanyInfo">
                            <div class="coListingTree">
                                <a href="{{ path('site_homepage') }}">Home</a> / <a href="{{ path('employers') }}">Employers</a>
                            <div class="coListingSrch">
                                <form action="{{ path('search_for_company') }}">
                                    <input name="searchString" placeholder="Search For Company" />
                                </form>
                            </div>
                            </div>
                            <br>
                            <h1>Company listing by industry</h1>
                            <div class="infoBlock">
                                <ul class="industriList">
                                    {% for industry in  entities %}
                                    <li>
                                        <a href="{{ path('industry_companies', {'industrySlug': industry.slug}) }}">{{ industry }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
<div class="joinFree">                                
Feature your business in our company listing by <a href="{{ path('company_signup') }}">joining</a>, free!
</div>
                            </div>
                        </aside>
                    </div>
                </section>
{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){
    $('#employersLink').addClass('crnt');
    });
</script>
{% endblock %}
