{% extends '::base.html.twig' %}

{% block title %}Search For Company{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/tabber.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
<section id="msgsBox" class="industListTable">
    <div class="wrapper">
        <div class="inboxBlock">


<div class="coListingTree clearfix">
                <a href="{{ path('site_homepage') }}">Home</a> </a>
            <div class="coListingSrch">
               <form action="{{ path('search_for_company') }}">
                    <input value="{{ searchString }}" name="searchString" placeholder="Search For Company" />
                </form>
            </div>
            </div>

            <h1>Search Results For "{{ searchString }}"</h1>
            <div class="tabber simpleTabs">
                <div class="tabbertab tabbertabdefault">
                    <div id="outboxTab" class="simpleTabsContent">

                        {% if entities | length > 0 %}
                        <table class="msgsTable">
                            <thead>
                                <tr>
                                    <th><a href="{% if paginationParameters.orderBy == 'name' and paginationParameters.orderDirection == 'asc' %}{{ path('search_for_company', {'searchString': searchString, 'orderBy': 'name', 'orderDirection': 'desc'}) }}{% else %}{{ path('search_for_company', {'searchString': searchString}) }}{% endif %}">Company Name</a></th>
                                    <th><a href="{% if paginationParameters.orderBy == 'city' and paginationParameters.orderDirection == 'asc' %}{{ path('search_for_company', {'searchString': searchString, 'orderBy': 'city', 'orderDirection': 'desc'}) }}{% else %}{{ path('search_for_company', {'searchString': searchString, 'orderBy': 'city', 'orderDirection': 'asc'}) }}{% endif %}">City</a></th>
                                    <th><a href="{% if paginationParameters.orderBy == 'state' and paginationParameters.orderDirection == 'asc' %}{{ path('search_for_company', {'searchString': searchString, 'orderBy': 'state', 'orderDirection': 'desc'}) }}{% else %}{{ path('search_for_company', {'searchString': searchString, 'orderBy': 'state', 'orderDirection': 'asc'}) }}{% endif %}">State</a></th>
                                    <th><a href="{% if paginationParameters.orderBy == 'country' and paginationParameters.orderDirection == 'asc' %}{{ path('search_for_company', {'searchString': searchString, 'orderBy': 'country', 'orderDirection': 'desc'}) }}{% else %}{{ path('search_for_company', {'searchString': searchString, 'orderBy': 'country', 'orderDirection': 'asc'}) }}{% endif %}">Country</a></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td><a href="{{ path('company_public_profile', {'loginName': entity.loginName, 'industrySlug': entity.professions.first().slug}) }}" title="{{ entity }}">{{ entity }}</a></td>
                                    <td><a href="{{ path('company_public_profile', {'loginName': entity.loginName, 'industrySlug': entity.professions.first().slug}) }}" title="{{ entity }}">{{ entity.city }}</a></td>
                                    <td><a href="{{ path('company_public_profile', {'loginName': entity.loginName, 'industrySlug': entity.professions.first().slug}) }}" title="{{ entity }}">{{ entity.state }}</a></td>
                                    <td><a href="{{ path('company_public_profile', {'loginName': entity.loginName, 'industrySlug': entity.professions.first().slug}) }}" title="{{ entity }}">{{ entity.getCountryName() }}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% if lastPageNumber > 1 %}
                        <ul class="pging">
                            {% if page > 1 %}
                            <li class="pgingBigger"><a href="{{ path('search_for_company', paginationParameters) }}">First</a></li>
                            {% set paginationParameters = paginationParameters|merge({'page': page - 1}) %}
                            <li><a href="{{ path('search_for_company', paginationParameters) }}">&lt;</a></li>
                            {% endif %}

                            {% for numberOfPage in 1..lastPageNumber %}
                            {% if numberOfPage > page - 4 and numberOfPage < page + 4 %}
                            {% set paginationParameters = paginationParameters|merge({'page': numberOfPage}) %}
                            <li{% if numberOfPage == page %} class="crnt"{% endif %}><a href="{{ path('search_for_company', paginationParameters) }}">{{ numberOfPage }}</a></li>
                            {% endif %}
                            {% endfor %}

                            {% if page < lastPageNumber %}
                            {% set paginationParameters = paginationParameters|merge({'page': page + 1}) %}
                            <li><a href="{{ path('search_for_company', paginationParameters) }}">&gt;</a></li>
                            {% set paginationParameters = paginationParameters|merge({'page': lastPageNumber}) %}
                            <li class="pgingBigger"><a href="{{ path('search_for_company', paginationParameters) }}">Last</a></li>
                            {% endif %}
                        </ul>
                        {% endif %}
                        {% else %}
                        No Compnaies Found
                        {% endif %}

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}
