{% extends '::base.html.twig' %}

{% block title %}Signup Third Step{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/jquery-ui-1.8.24.custom.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('css/chosen.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('css/stuEdu.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
<section id="student-01">
    <div class="wrapper">
        <h1>FOR STUDENTS<div></div></h1>

        <div class="studentEduBgBlock">
            <div class="yellowCont">
                <!--form Name-->
                <h1>{%if formName%}{{formName}}{%endif%}:</h1>
                <!--form Desc-->
                <p class="formDesc">{%if formDesc%}{{formDesc}}{%endif%}</p>

                <div class="btns">
                    Click "<strong>+</strong>" to add another school / "<strong>-</strong>" to remove last added school&nbsp;&nbsp;&nbsp;
                    <input type="button" id="btnAdd" value="+" />
                    <input disabled="disabled" type="button" id="btnDel" value="-" />
                </div>
                {% if app.session.hasFlash('notice') %}
                <span class="alert fail">
                {{ app.session.flash('notice') | raw }}
                </span>
                {% endif %}
                {% if app.session.hasFlash('success') %}
                <span class="alert success">
                {{ app.session.flash('success') | raw }}
                </span>
                {% endif %}
                {% if app.session.hasFlash('error') %}
                <span class="alert error">
                {{ app.session.flash('error') | raw }}
                </span>
                {% endif %}
                {% if form_errors(form) %}
                <span class="alert error">
                {{ form_errors(form) }}
                </span>
                {% endif %}

                <form class="formTable" action="{{ path('signup_education') }}" method="post" {{ form_enctype(form) }}>
                    <div id="formsContainer">
                        {% for education in form.educations %}
                        <div style="margin-bottom:4px;" class="clonedInput">
                            {% if not loop.first %}
                            <a class="subDelete" href="javascript:void(0);" onclick="deleteSubForm(this);">-</a>
                            {% endif %}
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="190"><label>College/University :</label></td>
                                    <td>{{ form_widget(education.schoolName) }}<span class="miniError">{{ form_errors(education.schoolName) }}</span></td>
                                    <td>&nbsp;</td>
                                    <td>{{ form_label(education.underGraduate) }}</td>
                                    <td>{{ form_widget(education.underGraduate) }}<span class="miniError">{{ form_errors(education.underGraduate) }}</span></td>
                                </tr>
                                <tr>
                                    <td><label>Major :</label></td>
                                    <td>{{ form_widget(education.major) }}<span class="miniError">{{ form_errors(education.major) }}</span></td>
                                    <td>&nbsp;</td>
                                    <td><label>Minor :</label></td>
                                    <td>{{ form_widget(education.minor) }}<span class="miniError">{{ form_errors(education.minor) }}</span></td>
                                </tr>

                                <tr>
                                    <td width="190"><label>CumulativeGPA :</label></td>
                                    <td>{{ form_widget(education.cumulativeGPA) }}<span class="miniError">{{ form_errors(education.cumulativeGPA) }}</span></td>
                                    <td>&nbsp;</td>
                                    <td width="190"><label>MajorGPA :</label></td>
                                    <td>{{ form_widget(education.majorGPA) }}<span class="miniError">{{ form_errors(education.majorGPA) }}</span></td>
                                </tr>

                                <tr>
                                    <td width="190" class="graduateDegreeRow"{% if not education.vars.value.underGraduate %} style="display: none;"{% endif %}><label>Graduate Degree :</label></td>
                                    <td class="graduateDegreeRow"{% if not education.vars.value.underGraduate %} style="display: none;"{% endif %}>{{ form_widget(education.graduateDegree) }}<span class="miniError">{{ form_errors(education.graduateDegree) }}</span></td>
                                    <td colspan="3">&nbsp;</td>
                                    <td width="190" class="underGraduateDegreeRow"{% if education.vars.value.underGraduate is sameas(null) or education.vars.value.underGraduate %} style="display: none;"{% endif %}><label>Undergraduate Degree :</label></td>
                                    <td class="underGraduateDegreeRow"{% if education.vars.value.underGraduate is sameas(null) or education.vars.value.underGraduate %} style="display: none;"{% endif %}>{{ form_widget(education.underGraduateDegree) }}<span class="miniError">{{ form_errors(education.underGraduateDegree) }}</span></td>
                                </tr>

                                <tr>
                                    <td width="190"><label>Start Date :</label></td>
                                    <td>{{ form_widget(education.startDate) }}<span class="miniError">{{ form_errors(education.startDate) }}</span></td>
                                    <td>&nbsp;</td>
                                    <td width="190"><label>End Date :</label></td>
                                    <td>{{ form_widget(education.endDate) }}<span class="miniError">{{ form_errors(education.endDate) }}</span></td>
                                </tr>

                                <tr>
                                    <td><label>Relevant Coursework Taken :</label></td>
                                    <td>{{ form_widget(education.relevantCourseworkTaken) }}<span class="miniError">{{ form_errors(education.relevantCourseworkTaken) }}</span><small>Separate Multiple Course Names With Commas</small></td>
                                    <td></td>
                                    <td><label>Extracurricular Activity :</label></td>
                                    <td>{{ form_widget(education.extracurricularActivity) }}<span class="miniError">{{ form_errors(education.extracurricularActivity) }}</span><small>Separate Multiple Extracurricular Activities With Commas</small></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        {% endfor %}
                    </div>

                    {{ form_rest(form) }}

                    <button class="nxt" type="submit" title="{% trans %}Next{% endtrans %}">{% trans %}Next{% endtrans %}</button>
                    <a class="bak" style="float: right;" href="{{ path('signup_cv') }}">Skip</a>
                    <div class="clear"></div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
{% set formElementHTML %}
{% spaceless %}
<div style="margin-bottom:4px;" class="clonedInput">
    <a class="subDelete" href="javascript:void(0);" onclick="deleteSubForm(this);">-</a>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="190"><label>College/University :</label></td>
            <td>{{ form_widget(form.educations.vars.prototype.schoolName) }}</td>
            <td>&nbsp;</td>
            <td width="190">{{ form_label(form.educations.vars.prototype.underGraduate) }}</td>
            <td>{{ form_widget(form.educations.vars.prototype.underGraduate) }}</td>
        </tr>

        <tr>
            <td width="190"><label>Major :</label></td>
            <td>{{ form_widget(form.educations.vars.prototype.major) }}</td>
            <td>&nbsp;</td>
            <td width="190"><label>Minor :</label></td>
            <td>{{ form_widget(form.educations.vars.prototype.minor) }}</td>
        </tr>

        <tr>
            <td width="190"><label>CumulativeGPA :</label></td>
            <td>{{ form_widget(form.educations.vars.prototype.cumulativeGPA) }}</td>
            <td>&nbsp;</td>
            <td width="190"><label>MajorGPA :</label></td>
            <td>{{ form_widget(form.educations.vars.prototype.majorGPA) }}</td>
        </tr>

        <tr>
            <td width="190" class="graduateDegreeRow" style="display: none;"><label>Graduate Degree :</label></td>
            <td class="graduateDegreeRow" style="display: none;">{{ form_widget(form.educations.vars.prototype.graduateDegree) }}</td>
            <td colspan="3">&nbsp;</td>
            <td width="190" class="underGraduateDegreeRow" style="display: none;"><label>Undergraduate Degree :</label></td>
            <td class="underGraduateDegreeRow" style="display: none;">{{ form_widget(form.educations.vars.prototype.underGraduateDegree) }}</td>
        </tr>

        <tr>
            <td width="190"><label>Start Date :</label></td>
            <td>{{ form_widget(form.educations.vars.prototype.startDate) }}</td>
            <td>&nbsp;</td>
            <td width="190"><label>End Date :</label></td>
            <td>{{ form_widget(form.educations.vars.prototype.endDate) }}</td>
        </tr>

        <tr>
            <td width="190"><label>Relevant Coursework Taken :</label></td>
            <td>{{ form_widget(form.educations.vars.prototype.relevantCourseworkTaken) }}</td>
            <td>&nbsp;</td>
            <td><label>Extra Curricular Activities :</label></td>
            <td>{{ form_widget(form.educations.vars.prototype.extracurricularActivity) }}</td>
        </tr>
    </table>
</div>
{% endspaceless %}
{% endset %}
<script src="{{ asset('js/libs/jquery-ui-1.8.24.custom.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/libs/chosen.jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/libs/jquery.livequery.js') }}" type="text/javascript"></script>
<script>
    var formElementHTML = '{{ formElementHTML | escape('js') }}';
    function deleteSubForm(currentElement) {
        $(currentElement).parent().remove();
    }
    function toggleGraduateDegree() {
        var currentCheck = $(this);
        currentCheck.parent().parent().parent().parent().find('.graduateDegreeRow').each(function() {
            if(currentCheck.val() == 1) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
        currentCheck.parent().parent().parent().parent().find('.underGraduateDegreeRow').each(function() {
            if(currentCheck.val() == 0) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }
    $(document).ready(function() {
        $('.underGraduate input').livequery(function() {
            $(this).change(toggleGraduateDegree);
        });
        $('.chzn-select').livequery(function() {
            $(this).chosen();
        });
        $('.graduateDegree').livequery(function() {
            $(this).autocomplete({
                autoFocus: true,
                minLength: 2,
                source: "{{ path('education_undergraduate_degrees', {'for': 'graduate'})}}"
            });
        });
        $('.underGraduateDegree').livequery(function() {
            $(this).autocomplete({
                autoFocus: true,
                minLength: 2,
                source: "{{ path('education_undergraduate_degrees', {'for': 'undergraduate'})}}"
            });
        });
        $('#btnAdd').click(function() {
            var tempHtml = formElementHTML;
            var subFormNumbers = [];
            $('[name^="form[educations]"]').each(function(){
                subFormNumber = parseInt($(this).attr('name').match(/\d+/)[0]);
                if($.inArray(subFormNumber, subFormNumbers) == -1) {
                    subFormNumbers.push(subFormNumber);
                }
            });
            $('#formsContainer').append(tempHtml.replace(/\$\$name\$\$/g, (subFormNumbers.sort().pop() + 1)));
            $('#btnDel').removeAttr('disabled');
        });
        $('#btnDel').click(function() {
            if($('#formsContainer').children().length == 2) {
                $('#btnDel').attr('disabled','disabled');
            }
            $('#formsContainer').children().last().remove();
        });
        var stuTitleBar = $('#main .wrapper').width();
        $('#student-01 > .wrapper h1 div').width(stuTitleBar-202);
    });
</script>
{% endblock %}
