{% extends '::base.html.twig' %}

{% block title %}Resume Second Step{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/simpletabs.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('css/jquery-ui-1.8.24.custom.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
<section id="student-01">
    <div class="wrapper">
        <h1>FOR STUDENTS<div></div></h1>

        <div class="simpleTabs">
            <ul class="simpleTabsNavigation">
                <li><a>Step 1</a></li>
                <li><a class="current">Step 2</a></li>
                <li><a>Step 3</a></li>
                <li><a>Step 4</a></li>
            </ul>

            <div class="simpleTabsContent" style="display: block;">
                {% if app.session.hasFlash('notice') %}
                <span class="alert fail">
                {{ app.session.flash('notice') | raw }}
                </span>
                {% endif %}
                {% if app.session.hasFlash('success') %}
                <span class="alert success">
                {{ app.session.flash('success') | raw }}
                </span>
                {% endif %}
                {% if app.session.hasFlash('error') %}
                <span class="alert error">
                {{ app.session.flash('error') | raw }}
                </span>
                {% endif %}
                {% if form_errors(form) %}
                <span class="alert error">
                {{ form_errors(form) }}
                </span>
                {% endif %}
                <!--form Name-->
                <h1>{%if formName%}{{formName}}{%endif%}:</h1>
                <!--form Desc-->
                <p class="formDesc">{%if formDesc%}{{formDesc}}{%endif%}</p>
                <form id="step02" action="{{ path('signup_cv_skills') }}" method="post" {{ form_enctype(form) }}>
                    <div id="formsContainer">
                        {% for skill in form.skills %}
                        <div>Skills are very important to employers make sure to include interpersonal/communication skills in addition to technical skills (Software, languages). Employers frequently use skills to search for candidates so make sure the list is comprehensive. <strong>Add one skill per box, click on the + sign to add additional skills.</strong></div>
                        <div id="input1" style="margin-bottom:4px;" class="clonedInput">
                            <label>Skill :</label>{{ form_widget(skill.title) }}<span class="miniError">{{ form_errors(skill.title) }}</span>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="btns">
                        <input title="Add another skill" type="button" id="btnAdd" value="+" />
                        <input title="remove skill" type="button" id="btnDel" value="-" />
                    </div>

                    {{ form_rest(form) }}
                    <button class="submit" type="submit" title="{% trans %}Next{% endtrans %}">{% trans %}Next{% endtrans %}</button>
                    <a class="bak" href="{{ path('signup_cv') }}">Back</a>
                    <div class="clear"></div>
                </form>
            </div>
        </div>

    </div>
</section>
{% endblock %}

{% block javascripts %}
{% set formElementHTML %}
{% spaceless %}
<div style="margin-bottom:4px;" class="clonedInput">
    <label>Skill :</label>{{ form_widget(form.skills.vars.prototype.title) }}
</div>
{% endspaceless %}
{% endset %}
<script src="{{ asset('js/libs/jquery-ui-1.8.24.custom.min.js') }}" type="text/javascript"></script>
<script>
    var formElementHTML = '{{ formElementHTML }}';
    $(document).ready(function() {
        $(".skillsTitles" ).autocomplete({source: "{{ path('get_skills_by_title') }}"});
        $('#btnAdd').click(function() {
            var tempHtml = formElementHTML;
            $('#formsContainer').append(tempHtml.replace(/\$\$name\$\$/g, $('#formsContainer').children().length));
            $('#btnDel').removeAttr('disabled');
            $(".skillsTitles" ).autocomplete({source: "{{ path('get_skills_by_title') }}"});
        });
        $('#btnDel').click(function() {
            if($('#formsContainer').children().length == 2) {
                $('#btnDel').attr('disabled','disabled');
            }
            $('#formsContainer').children().last().remove();
        });
        var stuTitleBar = $('#main .wrapper').width();
        $('#student-01 > .wrapper h1 div').width(stuTitleBar-202);
    });
</script>
{% endblock %}
