{% extends '::base.html.twig' %}



{% block title %}
{{parent()}} - Resources
{%endblock%}

{%block stylesheets%}
{{parent()}}
{%endblock%}

{%block body%}

{%if allPosts%}
<div id="main" role="main">

<section id="comJobList">
<div class="wrapper">

<aside class="resourcesWrapper">
<h1>Resources</h1>

<ul class="rescList">
    {%for post in allPosts%}
<li>
<img src="{{post.getTimThumbUrl(127,139)}}" width="127" height="139">
<h1>{{post.postTitle}}
<span>Posted in: {%for cat in post.getCategories()%}{{cat.catName}}{%endfor%}   Date: {{post.createdAt|date('d-m-Y  h:i:s')}}</span>
</h1>
<p>{{post.postBody|striptags}}</p>
<a class="submit" style="text-align: center" href="{{path('show_resources',{'id' : post.id})}}">Read More</a>
<div class="clear"></div>
</li>
    {%endfor%}

</ul>

</aside>


</div>
</section>


</div>

<!-- xxx END Body Section xxx -->
{%endif%}


    <ul class="pging">
                                {% if lastPageNumber > 1 %}
                    {% if page > 1 %}
                                                <li><a href="{{ url('resources') }}">&laquo;&laquo;</a></li>
                                                <li><a href="{{ url('resources',{'page': page - 1}) }}">&laquo;</a></li>
                    {% endif %}

                                

        {% for numberOfPage in 1..lastPageNumber %}
        {% if numberOfPage > page - 3 and numberOfPage < page + 3 %}
                                {% if page == numberOfPage %}<li class="crnt"><a href="javascript:void(0)">{{ numberOfPage }}</a></li>{% else %}<li><a href="{{ url('resources',{ 'page': numberOfPage}) }}" >{{ numberOfPage }}</a></li>{%endif%}
        {% endif %}
        {% endfor %}

                               

                    {% if page < lastPageNumber %}
                                                <li><a href="{{ url('resources',{'page': page + 1}) }}" >&raquo;</a></li>
                                                <li><a href="{{ url('resources',{'page': lastPageNumber}) }}" >&raquo;&raquo;</a></li>                    
{% endif %}
                {% endif %}
                                            </ul>

{%endblock%}

{%block javascripts%}
{{parent()}}
<script>
$(document).ready(function(){
$('#resourceLink').addClass('crnt');
});
</script>
{%endblock%}

