{% extends '::base.html.twig' %}



{% block title %}
{{parent()}} - ContactUS
{%endblock%}

{%block stylesheets%}
<link rel="stylesheet" href="{{asset('css/chosen.css')}}" />
{%endblock%}

{%block body%}

<div id="main" role="main">

<section id="comJobList">
<div class="wrapper">



<section class="comntSection" id="contactForm">
<aside class="addEdiTask">

<div class="contactWrapper">
{%if flag==1%}
        Your message has been sent Succefully
{%else%}
<fieldset>
<legend>Contact Us</legend>
<form action="{{path('contactUs')}}" method="POST" {{ form_enctype(form) }}>

        <label>User Name :</label>
            {{form_widget(form.Name)}}
        <br>
        <label>Email Address :</label>
            {{form_widget(form.Email)}}
        <br>
        <label>Subject</label>
            {{form_widget(form.Subject, {'attr': {'class': 'chzn-select', 'style' : 'width:260px;' } })}}
        <br>
        <label>Your Message :</label>
            {{form_widget(form.Message, {'attr': {'class': 'task'}})}}
        
        {{form_rest(form)}}
        <input type="submit" value="Send" class="submit">
</form>
</fieldset>
{%endif%}
</div>


</aside>
</section>
<div class="clear"></div>
</div>
</section>


</div>

<!-- xxx END Body Section xxx -->
{%endblock%}

{%block javascripts%}
{{parent()}}

<script src="{{asset('js/libs/chosen.jquery.min.js')}}" type="text/javascript"></script>
<script>
    $(document).ready(function(){
        
        $('#contactUsLink').addClass('crnt');
        
        $(".chzn-select").chosen({
            allow_single_deselect:true
        });    
    });
</script>
{%endblock%}