{% extends '::base.html.twig' %}

{% block notifications %}
{%endblock%}

{%block body%}

<div class="Your-worth">
    <div class="container">

        <div class="row-fluid show-grid">
            <div class="span7">
                <div class="worth-img">
                    <img src="{{asset('img/bg1.png')}}" />
                </div>
            </div>
            {% if worthUsers | length > 0 %}
            <div class="span5 pull-right">

                <div class="Worth-box">
                    <h4>How much are they Worth? </h4>
                    <div class="Worth-content">
                        <ul class="thumb-a">
                            {% for user in worthUsers %}
                            <li>
                                <img src="{{user.getTimThumbUrl(97,94)}}" />
                                <div class="caption text-right">
                                    <h5>{{user}} - $ {{user.currentWorth}}</h5>
                                    {% if user.dateOfBirth %}
                                    <p>Age: {{user.getAge()}} years old</p>
                                    {% endif %}
                                    <p>Source of wealth: Facebook</p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div><!--Worth-conten--->

                {% if is_granted('ROLE_USER') %}
                <div class="Find-Statment">
                    Find out how much you are WORTH?
                    <a href="{{path('howMuchAreYouWorth')}}">Start now</a>
                </div><!--Find-Statment--->
                {% endif %}
            </div><!--span5-->
            {% endif %}
        </div><!--row-fluid--->

    </div><!--container-->
</div><!--Your-worth-->

<div class="Start-form">
    <div class="container">

        <div class="row-fluid show-grid">
            <div class="span5">
                <div class="Form-Text">
                    <h2><span>Jump</span> Start<br/> Your Career</h2>
                    <p>We know you're ambitious and want that great internship that will help launch your career.
                        Look no further,
                        InternJump works with companies in the leading industries and makes applying and managing internships an easy process.</p>
                </div>


            </div>
            <div class="span7">

                <div class="Home-Search-form">
                    <form>
                        <select  Class="Choosen">
                            <option>job type</option>
                            <option>job type1</option>
                            <option>job type2</option>
                            <option>job type3</option>
                        </select>

                        <select  Class="Choosen">
                            <option>city</option>
                            <option>job type1</option>
                            <option>job type2</option>
                            <option>job type3</option>
                        </select>

                        <select  Class="Choosen">
                            <option>state</option>
                            <option>job type1</option>
                            <option>job type2</option>
                            <option>job type3</option>
                        </select>

                        <select  Class="Choosen">
                            <option>INDUSTRY</option>
                            <option>job type1</option>
                            <option>job type2</option>
                            <option>job type3</option>
                        </select>

                        <div class="Btn-box">

                            <input class="Start-btn" type="submit"  value="start  now"/>
                        </div>

                    </form>

                </div>
                <img src="img/bg2.png" />

            </div>
        </div><!--row-fluid-->

    </div><!--container--->
</div><!--Start-form-->

<div class="intrens">
    <div class="container">
        <div class="row-fluid show-grid">

            <div class="span7">
                <h2>intrens, save time & increase your opportunity</h2>
                <div class="Feaetured-Companies">
                    <h3>Feaetured <span>Companies</span></h3>
                    <div class="row-fluid">
                        <ul class="thumbnails companies-logo">
                            <li class="span3">
                                <a class="thumbnail">
                                    <img src="img/img1.jpg" />
                                </a>
                            </li>
                            <li class="span3">
                                <a class="thumbnail">
                                    <img src="img/img1.jpg" />
                                </a>
                            </li>
                            <li class="span3">
                                <a class="thumbnail">
                                    <img src="img/bg2.png" />
                                </a>
                            </li>
                            <li class="span3">
                                <a class="thumbnail">
                                    <img src="img/img1.jpg" />
                                </a>
                            </li>
                            <li class="span3">
                                <a class="thumbnail">
                                    <img src="img/img1.jpg" />
                                </a>
                            </li>
                            <li class="span3">
                                <a class="thumbnail">
                                    <img src="img/img1.jpg" />
                                </a>
                            </li>
                        </ul>
                    </div><!--row-fluid--->


                    <h3>Recently<span> Hired interns</span></h3>

                    <div class="R-Hired">
                        <div class="row-fluid">
                            <ul class="thumbnails">
                                <li class="span3">
                                    <div class="thumbnail">
                                        <img src="img/user.jpg" />
                                        <div class="caption">
                                            <div class="titl-blue">Rahimeh
                                                Andalibian</div>
                                            New York University, 2014
                                        </div><!--caption-->
                                    </div><!--thumbnail-->
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <img src="img/user.jpg" />
                                        <div class="caption">
                                            <div class="titl-blue">Rahimeh
                                                Andalibian</div>
                                            New York University, 2014
                                        </div><!--caption-->
                                    </div><!--thumbnail-->
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <img src="img/user.jpg" />
                                        <div class="caption">
                                            <div class="titl-blue">Rahimeh
                                                Andalibian</div>
                                            New York University, 2014
                                        </div><!--caption-->
                                    </div><!--thumbnail-->
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <img src="img/user.jpg" />
                                        <div class="caption">
                                            <div class="titl-blue">Rahimeh
                                                Andalibian</div>
                                            New York University, 2014
                                        </div><!--caption-->
                                    </div><!--thumbnail-->
                                </li>
                            </ul>
                        </div>
                    </div>





                </div><!--Feaetured-Companies-->
            </div><!--span4-->

            <div class="span5">
                <div class="Latest-In">
                    <h3>lATEST <span>INTERNSHIPS</span></h3>
                    <div class="media">
                        <a href="" class="pull-left"><img src="img/img1.jpg" /></a>
                        <div class="media-body">
                            <div class="titl-blue"> Online Content
                                Manager Internship</div>
                            ABC Global Systems/ Abc Media Network
                        </div>
                        <div class="clearfix"></div>
                        <a href="" class="pull-left"><img src="img/img1.jpg" /></a>
                        <div class="media-body">
                            <div class="titl-blue"> Online Content
                                Manager Internship</div>
                            ABC Global Systems/ Abc Media Network
                        </div>
                        <div class="clearfix"></div>
                        <a href="" class="pull-left"><img src="img/img1.jpg" /></a>
                        <div class="media-body">
                            <div class="titl-blue"> Online Content
                                Manager Internship</div>
                            ABC Global Systems/ Abc Media Network
                        </div>
                    </div><!--media-->

                </div><!--Latest-In-->

                <div class="img-ads">
                    <img src="img/img3.png" />
                </div>
            </div><!--span4-->

        </div><!--row-fluid-->
    </div><!--container-->
</div><!--intrens-->

{%endblock%}